<div class="_container --bg-light-grey py-100 --relative">
	<div class="_row ">
		<div class="_col">
			<div class="--bg-white p-40 pt-60 --border-radius-5">
				<h1 class="--purple">Choix des parties prenantes et du bien</h1>

				<form *ngIf="form" [formGroup]="form" class="my-20">
					<div class="my-10">
						<label for="bailleur">Bailleur</label>
						<select formControlName="bailleur" id="bailleur" name="bailleur"
							class="form-field"
							[ngClass]="{ 'error': submitted && form.controls.bailleur.invalid }"
							(change)="changeBailleur()">
							<option *ngFor="let bailleur of selectBailleurs" [ngValue]="bailleur.id">{{ bailleur.nom }} {{ bailleur.prenom }}</option>
						</select>
						<span class="--sm-txt --red --block mt-5"
							*ngIf="submitted && form.controls.bailleur.invalid">Le champ est invalide</span>
					</div>
					<div *ngIf="form.controls.bailleur.valid" class="my-10">
						<label for="bien">Bien</label>
						<select formControlName="bien" id="bien" name="bien"
							class="form-field"
							[ngClass]="{ 'error': submitted && form.controls.bien.invalid }">
							<option *ngFor="let bien of selectBiens" [ngValue]="bien.id">{{ bien.adresse.numero }} {{ bien.adresse.rue }}, {{ bien.adresse.ville }}</option>
						</select>
						<span class="--sm-txt --red --block mt-5"
							*ngIf="submitted && form.controls.bien.invalid">Le champ est invalide</span>
						<a *ngIf="form.controls.bien.valid" [routerLink]="'/admin/details-bien/' + form.controls.bien.value" target="_blank" class="--block my-5">Détail du bien</a>
					</div>
					<div class="my-10">
						<label for="locataire">Locataire</label>
						<select formControlName="locataire" id="locataire" name="locataire"
							class="form-field"
							[ngClass]="{ 'error': submitted && form.controls.locataire.invalid }">
							<option *ngFor="let locataire of locatairesList" [ngValue]="locataire.id">{{ locataire.nom }} {{ locataire.prenom }}</option>
						</select>
						<span class="--sm-txt --red --block mt-5"
							*ngIf="submitted && form.controls.locataire.invalid">Le champ est invalide</span>
					</div>
				</form>
				<div class="--center-txt my-50">
					<button type="button" class="--secondary-btn" (click)="onSubmit()">Suivant</button>
				</div>
			</div>
		</div>
	</div>
</div>
