.creation-bien-description {
    min-height: 100px;
  }
  .creation-bien-details {
    min-height: 100px;
  }
  .creation-bien-adresse{
    min-height: 100px;
  }
  // __Responsive __
  @include sm-only {
  
      .creation-bien-description,.creation-bien-image, .creation-bien-details, .creation-bien-equipement {
          width: 220px;
      }
      .creation-bien-details {
          margin-top: 20px;
      }
      .creation-bien-equipement {
        height: 150px;
    }
    .creation-bien-adresse{
      width: 220px;
      margin : 0 auto;
    }
    .label-menu{
      width: 220px;
    }
  }
  @include md-only {
  
      .creation-bien-description, .creation-bien-image, .creation-bien-details {
          width: 520px;
      }
      .creation-bien-details {
          margin-top: 20px;
      }
      .creation-bien-equipement {
        width: 520px;
        height: 150px;
    }
    .creation-bien-adresse{
      width: 520px;
      margin : 0 auto;
    }
    .label-menu{
      width: 520px;
    }
  }
  @include lg-only {
  
      .creation-bien-description, .creation-bien-details {
          width: 320px;
      }
      .creation-bien-details {
          margin-top: 5px;
      }
      .creation-bien-equipement {
        height: 150px;
    }
      .creation-bien-image, .creation-bien-equipement{
        width: 500px;
      }
      .creation-bien-adresse{
        width: 725px;
        margin : 0 auto;
      }
      .creation-div-details{
        width: 720px;
      }
  }
  
  @include xl-only {
  
      .creation-bien-description, .creation-bien-details {
          width: 450px;
      }
  
      .creation-bien-equipement, .creation-bien-image {
        width: 750px;
    }
    .creation-bien-adresse{
      width: 840px;
      margin: 0;
    }
    .creation-div-details{
      width: 1080px;
    }
    .div-pieces{
      width: 230 px;
    }
  }