@include sm-only {
    .notfound {
        line-height: 30px;
    }
}
@include md-only {
    .notfound {
        line-height: 30px;
    }
}
@include lg-only {
    .notfound {
        line-height: 50px;
    }
}
@include xl-only {
    .notfound {
        line-height: 50px;
    }
}
