<nav id="nav" class="nav ">
    <div
        class="nav-container --relative mr-70 --flex --flex-wrap --justify-content-space-between --align-items-center ">

        <div *ngIf="isConnected" class="p-20"><a routerLink="/admin/profil"
                routerLinkActive="--purple active">Profil</a></div>
        <div *ngIf="isConnected" class="p-20"><a routerLink="/admin/liste-biens"
                routerLinkActive="--purple active">Recherche bien</a></div>
        <div *ngIf="isConnected" class="p-20">
            <a routerLink="/admin/creation-bien" routerLinkActive="--purple active">Création Bien</a>
        </div>
        <div *ngIf="isConnected" class="p-20">
            <a routerLink="/admin/creation-compte" routerLinkActive="--purple active">Création compte</a>
        </div>
        <div *ngIf="isConnected" class="p-20">
            <a routerLink="/admin/creation-bail" routerLinkActive="--purple active">Création bail</a>
        </div>
        <div *ngIf="isConnected" class="p-20">
            <a routerLink="/admin/creation-etat-des-lieux" routerLinkActive="--purple active">Création état des lieux</a>
        </div>
        <div *ngIf="isConnected" class="p-20">
            <a routerLink="/suppression-compte" routerLinkActive="--purple active">Suppression compte</a>
        </div>
        
        
        <div class="p-20">
            <a *ngIf="!isConnected; else connecte" routerLink="/connexion"
                routerLinkActive="--purple active">Connexion</a>
            <ng-template #connecte>
                <a (click)="logOut()">Déconnexion</a>
            </ng-template>
        </div>
    </div>
</nav>