<div class="_container --bg-light-grey py-100 --relative">
	<div class="_row ">
		<div class="_col">
			<div class="--bg-white p-40 pt-60 --border-radius-5">
				<h1 class="--purple">Etat des lieux des pièces</h1>
			</div>
			<div class="my-10">
				<div *ngFor="let piece of pieces; let i = index" class="mt-20">
					<div [ngSwitch]="piece.typePiece">
						<app-cuisine *ngSwitchCase="typesPieces.CUISINE" [formLabel]="(i+1).toString()"></app-cuisine>
						<app-salle-de-bain *ngSwitchCase="typesPieces.SALLE_DE_BAIN" [formLabel]="(i+1).toString()"
							typePiece="Salle de bain"></app-salle-de-bain>
						<app-salle-de-bain *ngSwitchCase="typesPieces.SALLE_EAU" [formLabel]="(i+1).toString()"
							typePiece="Salle d'eau"></app-salle-de-bain>
						<app-toilettes *ngSwitchCase="typesPieces.TOILETTES" [formLabel]="(i+1).toString()">
						</app-toilettes>
						<app-autres *ngSwitchDefault [formLabel]="(i+1).toString()" [typePiece]="piece.typePiece">
						</app-autres>
					</div>
				</div>
				<button type="button" class="--secondary-btn" (click)="onSubmit()">TOUT CONFIRMER</button>
				<button type="button" class="--secondary-btn-outlined" [routerLink]="'/admin/creation-etat-des-lieux/choix-bail'">Précédent</button>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && error">Vous devez remplir l'état des lieux de toutes les pièces pour valider.</span>

				<div *ngIf="pieces.length === 0">
					Aucune pièce dans ce bien !
				</div>
			</div>
		</div>
	</div>
</div>
