<div class="_container --bg-light-grey py-100 --relative">
	<div class="_row ">
		<div class="_col">
			<div class="--bg-white p-40 pt-60 --border-radius-5">
				<h1 class="--purples">Contrat de location ou de colocation de logement vide</h1>
				<h6>(Soumis au titre Ier de la loi du 6 juillet 1989 tendant à améliorer les rapports locatifs et
					portant
					modification de la loi n° 86-1290 du 23 décembre 1986)</h6>

				<h2 class="my-20">V. Travaux</h2>

				<form [formGroup]="form" class="my-20">
					<p>
						A. Le cas échéant, Montant et nature des travaux d’amélioration ou de mise en conformité avec
						les caractéristiques
						de décence effectués depuis la fin du dernier contrat de location ou depuis le dernier
						renouvellement :
					</p>
					<div *ngFor="let travaux of travaux.controls | keyvalue as FormGroup; let i = index;"
						formGroupName="travaux">
						<div class="field-group" [formGroupName]="travaux.key">
							<div class="my-10 mr-10">
								<label for="nature">Nature des travaux</label>
								<input formControlName="nature" type="text" id="nature" name="nature" class="form-field"
									[ngClass]="{ 'error': submitted && travaux.value.get('nature')?.invalid }" />
								<span class="--sm-txt --red --block mt-5"
									*ngIf="submitted && travaux.value.get('nature')?.invalid">Le champ est
									invalide</span>
							</div>
							<div class="my-10 mr-10">
								<label for="montant">Montant des travaux</label>
								<input formControlName="montant" type="text" id="montant" name="montant"
									class="form-field"
									[ngClass]="{ 'error': submitted && travaux.value.get('montant')?.invalid }" />
								<span class="--sm-txt --red --block mt-5"
									*ngIf="submitted && travaux.value.get('montant')?.invalid">Le champ est
									invalide</span>
							</div>
						</div>
					</div>

					<p class="mt-20">
						B. Majoration du loyer en cours de bail consécutive à des travaux d’amélioration entrepris par
						le bailleur :
					</p>
					<button type="button" class="--primary-btn-outlined my-10" (click)="onAddMajoration()">Ajouter une
						majoration</button>
					<div *ngFor="let majoration of majorations.controls | keyvalue; let i = index;"
						formGroupName="majorations">
						<div class="field-group" [formGroupName]="majoration.key">
							<div class="my-10 mr-10">
								<label for="nature">Nature des travaux</label>
								<input formControlName="nature" type="text" id="nature" name="nature" class="form-field"
									[ngClass]="{ 'error': submitted && majoration.value.get('nature')?.invalid }" />
								<span class="--sm-txt --red --block mt-5"
									*ngIf="submitted && majoration.value.get('nature')?.invalid">Le champ est
									invalide</span>
							</div>
							<div class="my-10 mr-10">
								<label for="modalites">Modalités d'exécution</label>
								<input formControlName="modalites" type="text" id="modalites" name="modalites"
									class="form-field"
									[ngClass]="{ 'error': submitted && majoration.value.get('modalites')?.invalid }" />
								<span class="--sm-txt --red --block mt-5"
									*ngIf="submitted && majoration.value.get('modalites')?.invalid">Le champ est
									invalide</span>
							</div>
							<div class="my-10 mr-10">
								<label for="delaiRealisation">Délai de réalisation</label>
								<input formControlName="delaiRealisation" type="text" id="delaiRealisation"
									name="delaiRealisation" class="form-field"
									[ngClass]="{ 'error': submitted && majoration.value.get('delaiRealisation')?.invalid }" />
								<span class="--sm-txt --red --block mt-5"
									*ngIf="submitted && majoration.value.get('delaiRealisation')?.invalid">Le champ est
									invalide</span>
							</div>
							<div class="my-10 mr-10">
								<label for="montant">Montant de la majoration du loyer</label>
								<input formControlName="montant" type="text" id="montant" name="montant"
									class="form-field"
									[ngClass]="{ 'error': submitted && majoration.value.get('montant')?.invalid }" />
								<span class="--sm-txt --red --block mt-5"
									*ngIf="submitted && majoration.value.get('montant')?.invalid">Le champ est
									invalide</span>
							</div>
							<div class="mt-10 mr-10 --align-self-end">
								<button type="button" class="--danger-btn my-10"
									(click)="onDeleteMajoration(majoration.key)">
									<i class="fas fa-trash"></i>
								</button>
							</div>
						</div>
					</div>

					<h2 class="my-20">VI. Garanties</h2>

					<div class="field-group">
						<div class="my-10 mr-10">
							<label for="montantGaranties">Montant du dépôt de garantie de l’exécution des obligations du
								locataire / Garantie autonome [inférieur ou égal à un mois de loyers hors
								charges]</label>
							<input formControlName="montantGaranties" type="text" id="montantGaranties"
								name="montantGaranties" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.montantGaranties.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.montantGaranties.invalid">Le champ est invalide</span>
						</div>
					</div>
				</form>
				<div class="--center-txt my-50">
					<button type="button" class="--secondary-btn-outlined"
						routerLink="/admin/creation-bail/conditions-financieres">Précédent</button>
					<button type="button" class="--secondary-btn" (click)="onSubmit()">Suivant</button>
				</div>
			</div>
		</div>
	</div>
</div>
