textarea {
  resize: vertical;
}

.form-field {
  min-width: 300px;
  height: 46px;
  padding: 0 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: "Rubik", sans-serif;
  outline: 0;
  transition: 0.2s;
  margin-top: 5px;
}

.form-field.error {
  color: #e53c43;
  border-color: #e53c43;
}

.form-field:focus {
  border-color: #9f3e91;
}

label {
  display: block;
}

.field-group {
  display: flex;
  flex-wrap: wrap;
}

input[type="checkbox"] {
  position: relative;
  flex-shrink: 0;
  width: 1em !important;
  height: 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: 0;
  cursor: pointer;
  min-width: 0;
  &:hover {
    border-color: #9f3e91;
    color: #9f3e91;
  }
  &:checked {
    background-color: #9f3e91;
    border-color: #9f3e91;
    color: #9f3e91;
  }

  & ~ label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 0 10px 0;
    user-select: none;
  }
}

.--required {
  position: relative;
}

.--required::before {
  content: "*";
  right: -10px;
  top: -8px;
  position: absolute;
}

input[type="range"] {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 5px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

input[type="range"]::-webkit-slider-thumb {
  border: 0 !important;
  border-radius: 50%;
  background-color: #9f3e91 !important;
  color: #9f3e91 !important;
}
input[type="range"]::-moz-range-thumb {
  border: 0;
  border-radius: 50%;
  background: #9f3e91;
}
input[type="range"]::-ms-thumb {
  border-radius: 50%;
  background: #9f3e91;
  border: 0;
}

@include sm-only {
  select,
  input,
  textarea,
  .form-field {
    min-width: 220px;
  }
}
@include md-only {
  select,
  input,
  textarea,
  .form-field {
    min-width: 520px;
  }
}
@include lg-only {
  select,
  input,
  textarea,
  .form-field {
    min-width: 300px;
  }
}

@include xl-only {
  select,
  input,
  textarea,
  .form-field {
    min-width: 400px;
  }
  input[type="range"] {
    max-width: 300px;
  }
}

label.file-input {
  color: white;
  background-color: #9f3e91;
  cursor: pointer;
  padding: 0;
  margin: 0;
  line-height: 46px;
}

label.file-input:hover {
  background-color: #9f3e91;
}
