.container_modal {
    display: block;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    .content_modal {
        margin: 80px auto;
        background: #fff;
        padding: 30px;
        width: 300px;
        height: auto;
        border-radius: 20px;
        .modal {
            p {
                margin: 30px 0;
                text-align: left;
                text-transform: none;
            }
            .modal_btn {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;
                .error {
                    background-color: #e53c43;
                    color: #fff;
                }
                .warning {
                    background-color: #009de0;
                    color: #fff;
                }
                .close {
                    color: #fff;
                }
            }
        }
    }
}

.container_modal_notif {
    display: block;
    z-index: 100;
    width: auto;
    height: auto;
    opacity: 0;
    position: fixed;
    animation-duration: 5s;
    animation-name: notif_transition;
    .content_modal_notif {
        padding: 20px;
        width: 300px;
        height: auto;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 15px;
        i {
            width: 25px;
            font-size: 28px;
        }
        div {
            width: 210px;
        }
    }
}

// ____________________________________________Responsive __________________________________________________________________________________________________
@include sm-only {
    .container_modal_notif {
        top: 30px;
        margin: 0 auto;
        width: 100%;
        .content_modal_notif {
            margin: 0 auto;
        }
    }
}

// ____________________________________________Responsive __________________________________________________________________________________________________
@include lg-only {
    .container_modal {
        .content_modal {
            margin: 180px auto;
            width: 700px;
            .modal {
                .modal_btn {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: flex-end;
                    .tertiary {
                        width: auto;
                        padding: 10px 15px;
                        margin: 20px 10px 0 10px;
                    }
                }
            }
        }
    }
    .container_modal_notif {
        bottom: 20px;
        right: 10px;
        .content_modal_notif {
            width: 600px;
            div {
                width: 510px;
            }
        }
    }
}

@keyframes notif_transition {
    from {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
