.toggle_radio {
   position: relative;
   background: transparent;
   overflow: hidden;
   padding: 0 !important;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   height: 50px;
   width: 450px;
   border: 1px solid #9f3e91;
   color: #9f3e91;
   & > * {
      float: left;
   }
   input[type="radio"] {
      display: none;
   }

   label {
      z-index: 0;
      display: block;
      width: 150px;
      line-height: 50px;
      cursor: pointer;
      z-index: 1;
      color: #9f3e91;
      text-align: center;
      border: 0;
      transition-property: border, color;
      transition-duration: 250ms;
   }

   .toggle_option_slider {
      width: 150px;
      height: 50px;
      position: absolute;
      background-color: #9f3e91;
      -webkit-transition: all 250ms ease;
      -moz-transition: all 250ms ease;
      -o-transition: all 250ms ease;
      -ms-transition: all 250ms ease;
      transition: all 250ms ease;
   }

   #first_toggle_label {
      border-right: 1px solid #9f3e91;
   }

   #third_toggle_label {
      border-left: 1px solid #9f3e91;
   }

   input:checked {
      & ~ .toggle_option_slider {
         background-color: #9f3e91;
      }
   }

   #first_toggle.checked {
      & ~ .toggle_option_slider {
         left: 0px;
      }
      & ~ #first_toggle_label {
         color: #fff;
         border: 0;
      }
   }

   #second_toggle.checked {
      & ~ .toggle_option_slider {
         left: 150px;
      }
      & ~ #first_toggle_label {
         border: 0;
      }
      & ~ #second_toggle_label {
         color: #fff;
         border: 1px solid #9f3e91;
      }
      & ~ #third_toggle_label {
         border: 0;
      }
   }

   #third_toggle.checked {
      & ~ .toggle_option_slider {
         left: 300px;
      }
      & ~ #third_toggle_label {
         color: #fff;
         border: 0;
      }
   }
}
