<div class="--bg-white p-40 pt-40 --border-radius-5 electromenager">
	<input type="checkbox" class="dropdown" id="electromenager" />
	<div class="--width-full">
		<label for="electromenager" class="dropdown-label --flex --justify-content-space-between">
			<h2 [style]="(!submitted || !form.valid) ? 'cursor: pointer;' : 'cursor: not-allowed'">2 - Électroménager</h2>
			<i *ngIf="submitted && form.valid" (click)="editForm()" class="fas fa-edit" style="cursor: pointer;"> </i>
		</label>
	</div>
	<form *ngIf="form" [formGroup]="form" class="dropdown-item electromenagerItem">
		<div class="--bold-txt mt-20">
			Réfrigérateur
		</div>
		<div formGroupName="refrigerateur" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.refrigerateur.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.refrigerateur.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.refrigerateur.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.refrigerateur.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Congélateur
		</div>
		<div formGroupName="congelateur" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.congelateur.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.congelateur.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.congelateur.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.congelateur.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Four
		</div>
		<div formGroupName="four" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.four.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.four.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.four.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.four.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Cuisinière
		</div>
		<div formGroupName="cuisiniere" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.cuisiniere.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.cuisiniere.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.cuisiniere.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.cuisiniere.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Plaques de cuisson
		</div>
		<div formGroupName="plaqueCuisson" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.plaqueCuisson.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.plaqueCuisson.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.plaqueCuisson.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.plaqueCuisson.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Four à micro-ondes
		</div>
		<div formGroupName="fourMicroOndes" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.fourMicroOndes.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.fourMicroOndes.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.fourMicroOndes.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.fourMicroOndes.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Grille-pain
		</div>
		<div formGroupName="grillePain" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.grillePain.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.grillePain.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.grillePain.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.grillePain.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Bouilloire
		</div>
		<div formGroupName="bouilloire" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.bouilloire.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.bouilloire.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.bouilloire.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.bouilloire.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Cafetière
		</div>
		<div formGroupName="cafetiere" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.cafetiere.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.cafetiere.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.cafetiere.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.cafetiere.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Lave-vaisselle
		</div>
		<div formGroupName="laveVaisselle" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.laveVaisselle.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.laveVaisselle.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.laveVaisselle.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.laveVaisselle.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Lave-linge
		</div>
		<div formGroupName="laveLinge" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.laveLinge.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.laveLinge.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.laveLinge.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.laveLinge.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Sèche-linge
		</div>
		<div formGroupName="secheLinge" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.secheLinge.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.secheLinge.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.secheLinge.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.secheLinge.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Vidéoprojecteur
		</div>
		<div formGroupName="videoProjecteur" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.videoProjecteur.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.videoProjecteur.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.videoProjecteur.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.videoProjecteur.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Télévision
		</div>
		<div formGroupName="television" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.television.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.television.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.television.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.television.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Lecteur DVD
		</div>
		<div formGroupName="lecteurDvd" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.lecteurDvd.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.lecteurDvd.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.lecteurDvd.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.lecteurDvd.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Chaîne Hi-fi
		</div>
		<div formGroupName="chaineHifi" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.chaineHifi.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.chaineHifi.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.chaineHifi.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.chaineHifi.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<button type="button" class="--primary-btn" (click)="onSubmit()">Valider l'électroménager</button>
	</form>
</div>