<div class="_container --bg-light-grey --relative py-100">
    <form [formGroup]="formCreationBien">
        <div class="_row">
            <div class="_col --border-radius-10 my-20 --flex --flex-wrap --justify-content-space-between">
                <div class=" p-40 --border-radius-10 --bg-white my-10">
                    <label for="">Propriétaire <span class="--red">*</span></label>
                    <select formControlName="proprietaire" name="proprietaire" id="proprietaire"
                        class="form-field mr-10"
                        [ngClass]="{ 'error': submitted && formCreationBien.controls.proprietaire.invalid }">
                        <option value="">Sélectionnez</option>
                        <option *ngFor="let proprietaire of listeProprietaire" [ngValue]="proprietaire.id">
                            {{proprietaire.civilite}} {{proprietaire.nom}} {{proprietaire.prenom}}</option>

                    </select>
                    <span class="--sm-txt --red --block mt-5"
                        *ngIf="submitted && formCreationBien.controls.proprietaire.invalid">Le
                        champ est invalide</span>
                    <a routerLink="/admin/creation-compte"><i class="fas fa-plus --purple --absolute mt-20"></i></a>

                    <label class="mt-20" for="">Type de bien <span class="--red">*</span></label>
                    <select formControlName="typeBien" name="typeBien" id="typeBien" class="form-field mr-10"
                        [ngClass]="{ 'error': submitted && formCreationBien.controls.typeBien.invalid }">

                        <option value="">Sélectionnez</option>
                        <option *ngFor="let typeBien of listTypeBien" [ngValue]="typeBien.id">{{ typeBien.label }}
                        </option>
                    </select>
                    <span class="--sm-txt --red --block mt-5"
                        *ngIf="submitted && formCreationBien.controls.typeBien.invalid">
                        Le champ est invalide
                    </span>
                    <label class="mt-20" for="typeContrat">Type de contrat <span class="--red">*</span></label>
                    <select formControlName="typeContrat" id="typeContrat" name="typeContrat" class="form-field"
                        [ngClass]="{ 'error': submitted && formCreationBien.controls.typeContrat.invalid }">
                        <option value="">Sélectionnez</option>
                        <option *ngFor="let typeContrat of listTypeContrat" [ngValue]="typeContrat.id">
                            {{ typeContrat.label }}
                        </option>
                    </select>
                    <span class="--sm-txt --red --block mt-5"
                        *ngIf="submitted && formCreationBien.controls.typeContrat.invalid">
                        Le champ est invalide
                    </span>
                    <label class="mt-20">Année de construction <span class="--red">*</span></label>
                    <input formControlName="anneeConstruction" type="number" class="form-field  mb-10"
                        name="anneeConstruction" id="anneeConstruction"
                        [ngClass]="{ 'error': submitted && formCreationBien.controls.anneeConstruction.invalid }" />
                    <span class="--sm-txt --red --block mt-5"
                        *ngIf="submitted && formCreationBien.controls.anneeConstruction.invalid">Le
                        champ est invalide</span>
                    <label>Prix de vente <span class="--red">*</span></label>
                    <input formControlName="prixVente" type="number" class="form-field" name="prixVente" id="prixVente"
                        [ngClass]="{ 'error': submitted && formCreationBien.controls.prixVente.invalid }" />
                    <span class="--sm-txt --red --block mt-5"
                        *ngIf="submitted && formCreationBien.controls.prixVente.invalid">Le
                        champ est invalide</span>
                </div>
                <div class="--border-radius-10 --bg-white p-40 my-10">
                    <label class="mt-20">Nom de la rue <span class="--red">*</span></label>
                    <input formControlName="nomRue" type="text" class="form-field" name="nomRue" id="nomRue"
                        [ngClass]="{ 'error': submitted && formCreationBien.controls.nomRue.invalid }" />
                    <span class="--sm-txt --red --block mt-5"
                        *ngIf="submitted && formCreationBien.controls.nomRue.invalid">Le
                        champ est invalide</span><br>
                    <label class="mt-20">Numéro de rue <span class="--red">*</span></label>
                    <input formControlName="numeroRue" type="text" class="form-field mr-10" name="numeroRue"
                        id="numeroRue"
                        [ngClass]="{ 'error': submitted && formCreationBien.controls.numeroRue.invalid }" />
                    <span class="--sm-txt --red --block mt-5"
                        *ngIf="submitted && formCreationBien.controls.numeroRue.invalid">Le
                        champ est invalide</span><br>
                    <label class="mt-20">Code Postal <span class="--red">*</span></label>
                    <input formControlName="codePostal" type="number" class="form-field mr-10" name="codePostal"
                        id="codePostal"
                        [ngClass]="{ 'error': submitted && formCreationBien.controls.codePostal.invalid }" />
                    <span class="--sm-txt --red --block mt-5"
                        *ngIf="submitted && formCreationBien.controls.codePostal.invalid">Le
                        champ est invalide</span><br>
                    <label class="mt-20">Ville <span class="--red">*</span></label>
                    <input formControlName="ville" type="text" class="form-field" name="ville" id="ville"
                        [ngClass]="{ 'error': submitted && formCreationBien.controls.ville.invalid }" />
                    <span class="--sm-txt --red --block mt-5"
                        *ngIf="submitted && formCreationBien.controls.ville.invalid">Le
                        champ est invalide</span><br>
                    <label class="mt-20" for="complementAdresse">Complément d'adresse</label>
                    <textarea formControlName="complementAdresse" appTextareaHeight cols="30" rows="5"
                        class="creation-bien-equipement form-field" name="complementAdresse"
                        id="complementAdresse"></textarea>
                </div>

            </div>
        </div>

        <div class="_row mt-20">
            <div class="_col --border-radius-10 --flex --flex-wrap --justify-content-space-between">
                <div class="my-20 p-40 --border-radius-10 --bg-white">
                    <label>Surface habitable <span class="--red">*</span></label>
                    <input formControlName="surfaceHabitable" type="number" class="form-field mb-10"
                        name="surfaceHabitable" id="surfaceHabitable"
                        [ngClass]="{ 'error': submitted && formCreationBien.controls.surfaceHabitable.invalid }">
                    <span class="--sm-txt --red --block mt-5"
                        *ngIf="submitted && formCreationBien.controls.surfaceHabitable.invalid">Le
                        champ est invalide</span>
                    <label>Surface terrain <span class="--red">*</span></label>
                    <input formControlName="surfaceTerrain" type="number" class="form-field mb-10" name="surfaceTerrain"
                        id="surfaceTerrain"
                        [ngClass]="{ 'error': submitted && formCreationBien.controls.surfaceTerrain.invalid }">
                    <span class="--sm-txt --red --block mt-5"
                        *ngIf="submitted && formCreationBien.controls.surfaceTerrain.invalid">Le
                        champ est invalide</span>
                    <label>Surface balcon <span class="--red">*</span></label>
                    <input formControlName="surfaceBalcon" type="number" class="form-field mb-10" name="surfaceBalcon"
                        id="surfaceBalcon"
                        [ngClass]="{ 'error': submitted && formCreationBien.controls.surfaceBalcon.invalid }">
                    <span class="--sm-txt --red --block mt-5"
                        *ngIf="submitted && formCreationBien.controls.surfaceBalcon.invalid">Le
                        champ est invalide</span>
                </div>
                <div class="my-20 --border-radius-10 --bg-white p-40">
                    <div class="creation-bien-image">


                        <div class="--width-500 --flex --flex-wrap mb-20">
                            <label class="file-input form-field  --width-400 mx-auto --center-txt" for="photoBien">
                                <span class="ml-3  --line-height-40">
                                    <i ngClass="{{f.photoBien.value.length > 0 ? 'fa-check' : 'fa-upload' }}"
                                        class="fas"></i>
                                </span>
                                <span class="ml-3">
                                    {{
                                    f.photoBien.value.length > 0 ?
                                    f.photoBien.value.length +
                                    " image(s) ajoutée(s)" : "Ajouter vos images"
                                    }}
                                </span></label>
                            <input formControlName="photoBien" id="photoBien" type="file"
                                class="form-field --hidden  mb-10" name="photoBien" multiple
                                (change)="onFileChange($event)" accept="image/jpeg,image/png" />

                            <i class="ml-5 fas fa-3x fa-window-close --red --center-txt --width-50 --line-height-40"
                                (click)="onDeleteFile()" [ngClass]="{ '--hidden': f.photoBien.value.length <= 0 }"></i>
                        </div>
                        <div *ngIf="f.photoBien.value.length > 0" class="mt-20">
                            <h4 class="mb-10">Liste des images</h4>
                            <div *ngFor="let fileName of listImgBailName" class="--grey --sm-txt">
                                <i class="ml-20 mr-3 fas fa-1x fa-file --width-10 --line-height-40"></i>
                                {{ fileName }}
                            </div>
                        </div>


                        <label for="equipementsDivers">Equipements Divers</label>
                        <textarea appTextareaHeight formControlName="equipementsDivers" cols="30" rows="5"
                            class="form-field creation-bien-equipement my-10" name="equipementsDivers"
                            id="equipementsDivers">
                           </textarea>
                        <input formControlName="garageVelo" type="checkbox" name="garageVelo" id="garageVelo"
                            value="garageVelo" class="mb-5 mr-5">Garage à Vélo
                        <input formControlName="garageVoiture" type="checkbox" name="garageVoiture" id="garageVoiture"
                            value="garageVoiture" class="mb-5 mr-5">Garage à Voiture
                        <input formControlName="espacesVert" type="checkbox" name="espacesVert" id="espacesVert"
                            value="espacesVert" class="mb-5 mr-5">Espaces Vert
                        <input formControlName="localPoubelle" type="checkbox" name="localPoubelle" id="localPoubelle"
                            value="localPoubelle" class="mb-5 mr-5">Local Poubelle
                        <input formControlName="ascenseur" type="checkbox" name="ascenseur" id="ascenseur"
                            value="ascenseur" class="mb-5 mr-5">Ascenseur
                        <input formControlName="gardiennage" type="checkbox" name="gardiennage" id="gardiennage"
                            value="gardiennage" class="mb-5 mr-5">Gardiennage
                        <input formControlName="aireJeux" type="checkbox" name="aireJeux" id="aireJeux" value="aireJeux"
                            class="mb-5 mr-5">Aire de Jeux
                        <input formControlName="laverie" type="checkbox" name="laverie" id="laverie" value="laverie"
                            class="mb-5 mr-5">Laverie
                    </div>
                </div>
            </div>
        </div>
        <div class="_row">
            <div class="_col --border-radius-10 --flex --flex-wrap --justify-content-space-between">
                <div class="creation-div-details my-20 p-40 --border-radius-10 --bg-white">
                    <div class="field-group --justify-content-space-between">
                        <textarea appTextareaHeight formControlName="descriptionBien" name="descriptionBien"
                            id="descriptionBien" placeholder="Description du biens"
                            class="creation-bien-description form-field">
                            </textarea>
                        <textarea appTextareaHeight formControlName="detailsPieces" placeholder="Détails des pièces"
                            class="creation-bien-details form-field" name="detailPieces" id="detailsPieces"></textarea>
                    </div>
                    <div class="field-group --justify-content-space-between">
                        <div class="">
                            <label class="mt-20">Meublé/Non-meublé <span class="--red">*</span></label>
                            <select formControlName="meuble" name="meuble" id="meuble" class="form-field"
                                [ngClass]="{ 'error': submitted && formCreationBien.controls.meuble.invalid }">
                                <option value="">Sélectionnez</option>
                                <option value="0">Meublé</option>
                                <option value="1">Non Meublé</option>
                            </select>
                            <span class="--sm-txt --red --block mt-5"
                                *ngIf="submitted && formCreationBien.controls.meuble.invalid">
                                Le champ est invalide
                            </span>
                        </div>
                        <div class="">
                            <label class="mt-20"> Régime Juridique <span class="--red">*</span></label>
                            <select formControlName="regimeJuridique" name="regimeJuridique" class="form-field mb-10"
                                id="regimeJuridique"
                                [ngClass]="{ 'error': submitted && formCreationBien.controls.regimeJuridique.invalid }">
                                <option value="">Sélectionnez</option>
                                <option value="1">Monopropriété</option>
                                <option value="2">Copropriété</option>
                            </select>
                            <span class="--sm-txt --red --block mt-5"
                                *ngIf="submitted && formCreationBien.controls.regimeJuridique.invalid">
                                Le champ est invalide
                            </span>
                        </div>
                    </div>
                    <div class="field-group --justify-content-space-between">
                        <div class="">
                            <label class="mt-20">Classe d'énergie <span class="--red">*</span></label>
                            <select formControlName="classeEnergie" class="form-field" name="classeEnergie"
                                id="classeEnergie"
                                [ngClass]="{ 'error': submitted && formCreationBien.controls.classeEnergie.invalid }">
                                <option value="">Sélectionnez</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                                <option value="F">F</option>
                            </select>
                            <span class="--sm-txt --red --block mt-5"
                                *ngIf="submitted && formCreationBien.controls.classeEnergie.invalid">
                                Le champ est invalide
                            </span>
                        </div>
                        <div class="">
                            <label class="mt-20">GES <span class="--red">*</span></label>
                            <select formControlName="ges" class="form-field" name="ges" id="ges"
                                [ngClass]="{ 'error': submitted && formCreationBien.controls.ges.invalid }">
                                <option value="">Sélectionnez</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                                <option value="F">F</option>
                            </select>
                            <span class="--sm-txt --red --block mt-5"
                                *ngIf="submitted && formCreationBien.controls.ges.invalid">
                                Le champ est invalide
                            </span>
                        </div>
                    </div>
                </div>
                <div class="div-pieces my-20 --border-radius-10 --bg-white p-40">
                    <label class="label-menu" for="menu-1">Pièces Générales</label>
                    <select formControlName="listePieces" class="form-field" name="listePieces" id="listePieces">
                        <option value="">Sélectionnez</option>
                        <option *ngFor="let typePiece of listTypePiece " [ngValue]="typePiece.id">
                            {{typePiece.label}}</option>

                    </select>
                    <span class="--secondary-btn p-15 ml-5"
                        (click)="addPiece(formCreationBien.controls.listePieces.value)">Ajouter une pièce</span>
                    <div *ngIf="listPiece.length > 0" class="mt-20">
                        <h4 class="mb-10">Liste des pièces</h4>
                        <div *ngFor="let piece of listPiece" class="--grey --sm-txt">
                            <i class="ml-20 mr-3 fas fa-1x fa-circle --width-10 --line-height-40"></i>
                            {{ piece.label }}
                            <i class="ml-20 mr-3 fas fa-1x fa-times --red --width-10 --line-height-40"
                                (click)="removePiece(piece.id)"></i>
                        </div>
                    </div>

                </div>
                <div class="--center-txt my-20 --width-full">
                    <button type="submit" class="--secondary-btn" (click)="onSubmit()">Validation</button>
                </div>
            </div>
        </div>
    </form>
</div>
