<div class="_container --bg-light-grey py-100 --relative">
    <div class="_row ">
        <div class="_col">
            <div class="--bg-white p-40 pt-60 --border-radius-5">
                <h1 class="--center-txt --purple">Suppression de compte</h1>
                <div class="toggle_radio my-70 mx-auto">
                    <input (change)="switchDataUser(roles.PROPRIETAIRE)" type="radio" class="toggle_option"
                        id="first_toggle" name="toggle_option" [ngClass]="displayedUser === roles.PROPRIETAIRE ? 'checked' : ''" />
                    <input (change)="switchDataUser(roles.LOCATAIRE)" type="radio" class="toggle_option"
                        id="second_toggle" name="toggle_option" [ngClass]="displayedUser === roles.LOCATAIRE ? 'checked' : ''"  />
                    <input (change)="switchDataUser(roles.AGENT)" type="radio" class="toggle_option" id="third_toggle"
                        name="toggle_option" [ngClass]="displayedUser === roles.AGENT ? 'checked' : ''" />
                    <label id="first_toggle_label" for="first_toggle">Propriétaire</label>
                    <label id="second_toggle_label" for="second_toggle">Locataire</label>
                    <label id="third_toggle_label" for="third_toggle">Agt. Immobilier</label>
                    <div class="toggle_option_slider"></div>
                </div>
                <div>
                    <ng2-completer class="--center-txt my-20 autocomplete" [(ngModel)]="emailFound"
                        [datasource]="searchUser" [minSearchLength]="1"></ng2-completer>
                </div>
                <div class="--center-txt my-150">
                    <button type="button" class="--secondary-btn-outlined" routerLink="/accueil">Retour à
                        l'accueil</button>
                    <button type="button" class="--secondary-btn" (click)="onSubmit()">Supprimer le compte</button>
                </div>
            </div>
        </div>
    </div>
</div>