<div class="_container --bg-light-grey py-100 --relative">
	<div class="_row ">
		<div class="_col">
			<div class="--bg-white p-40 pt-60 --border-radius-5">
				<h1 class="--purple">Choix du bail et informations</h1>

				<form *ngIf="form" [formGroup]="form" class="my-20">
					<div class="my-10">
						<label for="bail">Bail</label>
						<select formControlName="bail" id="bail" name="bail"
							class="form-field"
							[ngClass]="{ 'error': submitted && form.controls.bail.invalid }"
							(change)="detailSelectedBail()">
							<option *ngFor="let bail of listeBails" [ngValue]="bail.id">Bail n°{{ bail.id }} - Locataire n°{{ bail.locataire.id }}</option>
						</select>
						<span class="--sm-txt --red --block mt-5"
							*ngIf="submitted && form.controls.bail.invalid">Le champ est invalide</span>
					</div>
					<div *ngIf="form.controls.bail.valid" class="my-10">
						<a [routerLink]="'/admin/details-bien/' + selectedBienId" target="_blank" class="--block my-5">Détail du bien</a>
						<a *ngIf="selectedBail?.pdf" [href]="lienPdf + form.controls.bail.value + '/1.bail/' + selectedBail?.pdf" target="_blank">Détail du bail (PDF)</a>
					</div>
					<div class="field-group mt-30">
						<div class="my-10 mr-10 --flex --nowrap --justify-content-flex-start">
							<input formControlName="edlEntree" type="checkbox" id="edlEntree"
								name="edlEntree" />
							<label for="edlEntree">Entrée</label>
						</div>
						<div class="my-10 mr-10 --flex --nowrap --justify-content-flex-start">
							<input formControlName="edlSortie" type="checkbox" id="edlSortie"
								name="edlSortie" />
							<label for="edlSortie">Sortie</label>
						</div>
					</div>
					<div class="field-group">
						<div class="my-10 mr-10">
							<label for="dateEntree">Date d'entrée</label>
							<input formControlName="dateEntree" type="date" id="dateEntree" name="dateEntree"
								class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.dateEntree.invalid }" />
						</div>
						<div class="my-10 mr-10">
							<label for="dateSortie">Date de sortie</label>
							<input formControlName="dateSortie" type="date" id="dateSortie"
								name="dateSortie" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.dateSortie.invalid }" />
						</div>
					</div>
					<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && ((!form.controls.edlEntree.value ||
								form.controls.dateEntree.value.length === 0) &&
								(!form.controls.edlSortie.value ||
								  form.controls.dateSortie.value.length === 0))">
								Cochez "Entrée" ou "Sortie" selon le type d'état des lieux effectué, en renseignant la date correspondante.
								</span>
				</form>
				<div class="--center-txt my-50">
					<button type="button" class="--secondary-btn" (click)="onSubmit()">Suivant</button>
				</div>
			</div>
		</div>
	</div>
</div>
