<div class="_container --bg-light-grey py-100 --relative">
	<div class="_row ">
		<div class="_col">
			<div class="--bg-white p-40 pt-60 --border-radius-5">
				<h1 class="--purple">Contrat de location ou de colocation de logement vide</h1>
				<h6>(Soumis au titre Ier de la loi du 6 juillet 1989 tendant à améliorer les rapports locatifs et
					portant
					modification de la loi n° 86-1290 du 23 décembre 1986)</h6>

				<h2 class="my-20">III. Date de prise d'effet et durée du contrat</h2>

				<p>La durée du contrat et sa date de prise d’effet sont ainsi définies :</p>

				<h2 class="my-20">A. Date de prise d’effet du contrat</h2>

				<form [formGroup]="form" class="my-20">
					<div class="field-group">
						<div class="my-10 mr-10">
							<label for="datePriseEffet">Date de prise d'effet du bail</label>
							<input formControlName="datePriseEffet" type="date" id="datePriseEffet"
								name="datePriseEffet" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.datePriseEffet.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.datePriseEffet.invalid">Le champ est invalide</span>
						</div>
					</div>

					<h2 class="my-20">B. Durée du contrat</h2>

					<div class="field-group">
						<div class="my-10 mr-10">
							<label for="">Durée du bail</label>
							<select formControlName="dureeBail" id="dureeBail" name="dureeBail" class="form-field"
								(change)="changeDureeBail()"
								[ngClass]="{ 'error': submitted && form.controls.dureeBail.invalid }">
								<option [ngValue]="dureesBail.REDUITE">Durée réduite</option>
								<option [ngValue]="dureesBail.TROIS_ANS">3 ans</option>
								<option [ngValue]="dureesBail.SIX_ANS">6 ans</option>
							</select>
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.dureeBail.invalid">Le champ est invalide</span>
						</div>
						<div *ngIf="form.controls.dureeBail.value === dureesBail.REDUITE" class="my-10 mr-10">
							<label for="dureeBailReduite">Durée réduite (durée minimale d’un an lorsqu’un événement
								précis le justifie)</label>
							<input formControlName="dureeBailReduite" type="text" id="dureeBailReduite"
								name="dureeBailReduite" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.dureeBailReduite.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.dureeBailReduite.invalid">Le champ est invalide</span>
						</div>
					</div>

					<div *ngIf="form.controls.dureeBail.value === dureesBail.REDUITE">
						<h2 class="my-20">C. Le cas échéant, événement et raison justifiant la durée réduite du contrat
							de location</h2>

						<div class="field-group">
							<div class="my-10">
								<label for="justificationDureeBailReduite">Justification de l'événement</label>
								<textarea formControlName="justificationDureeBailReduite"
									id="justificationDureeBailReduite" name="justificationDureeBailReduite" rows="1"
									cols="80" appTextareaHeight class="form-field"
									[ngClass]="{ 'error': submitted && form.controls.justificationDureeBailReduite.invalid }"></textarea>
							</div>
						</div>
					</div>

					<p>
						En l’absence de proposition de renouvellement du contrat, celui-ci est, à son terme, reconduit
						tacitement pour 3 ou 6 ans et dans les mêmes conditions.
						Le locataire peut mettre fin au bail à tout moment, après avoir donné congé. Le bailleur, quant
						à lui, peut mettre fin au bail à son échéance et après avoir donné congé,
						soit pour reprendre le logement en vue de l’occuper lui-même ou une personne de sa famille, soit
						pour le vendre, soit pour un motif sérieux et légitime.
					</p>
				</form>
				<div class="--center-txt my-50">
					<button type="button" class="--secondary-btn-outlined"
						routerLink="/admin/creation-bail/objet-contrat">Précédent</button>
					<button type="button" class="--secondary-btn" (click)="onSubmit()">Suivant</button>
				</div>
			</div>
		</div>
	</div>
</div>
