<div class="--bg-white p-40 pt-40 --border-radius-5" [class]="'sdb'.concat(formLabel)">
	<input type="checkbox" class="dropdown" [id]="'sdb'.concat(formLabel)" />
	<div class="--width-full">
		<label [for]="'sdb'.concat(formLabel)" class="dropdown-label --flex --justify-content-space-between">
			<h2 [style]="(!submitted || !form.valid) ? 'cursor: pointer;' : 'cursor: not-allowed'">{{ formLabel }} - {{ typePiece }}</h2>
			<i *ngIf="submitted && form.valid" (click)="editForm()" class="fas fa-edit" style="cursor: pointer;"> </i>
		</label>
	</div>
	<form *ngIf="form" [formGroup]="form" class="dropdown-item" [class]="'sdbItem'.concat(formLabel)">
		<div formGroupName="elements">
			<h3 class="mt-30">Éléments</h3>
			<div class="--bold-txt mt-20">
				Plafond
			</div>
			<div formGroupName="plafond" class="field-group">
				<div class="my-10 mr-10">
					<select formControlName="etat" class="form-field"
						[ngClass]="{ 'error': submitted && form.controls.elements.get('plafond')?.get('etat')?.invalid }">
						<option value="" disabled selected>État</option>
						<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
						</option>
					</select>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('plafond')?.get('etat')?.invalid">Le champ est
						invalide</span>
				</div>
				<div class="my-10">
					
					<input formControlName="observations" type="text"  
						class="form-field" [ngClass]="{ 'error': submitted && form.controls.elements.get('plafond')?.get('observations')?.invalid }" placeholder="Observations"/>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('plafond')?.get('observations')?.invalid">Le
						champ est invalide</span>
				</div>
			</div>
	
			<div class="--bold-txt mt-20">
				Murs
			</div>
			<div formGroupName="murs" class="field-group">
				<div class="my-10 mr-10">
					<select formControlName="etat" class="form-field"
						[ngClass]="{ 'error': submitted && form.controls.elements.get('murs')?.get('etat')?.invalid }">
						<option value="" disabled selected>État</option>
						<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
						</option>
					</select>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('murs')?.get('etat')?.invalid">Le champ est
						invalide</span>
				</div>
				<div class="my-10">
					
					<input formControlName="observations" type="text"  
						class="form-field" [ngClass]="{ 'error': submitted && form.controls.elements.get('murs')?.get('observations')?.invalid }" placeholder="Observations"/>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('murs')?.get('observations')?.invalid">Le
						champ est invalide</span>
				</div>
			</div>
	
			<div class="--bold-txt mt-20">
				Sol
			</div>
			<div formGroupName="sol" class="field-group">
				<div class="my-10 mr-10">
					<select formControlName="etat" class="form-field"
						[ngClass]="{ 'error': submitted && form.controls.elements.get('sol')?.get('etat')?.invalid }">
						<option value="" disabled selected>État</option>
						<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
						</option>
					</select>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('sol')?.get('etat')?.invalid">Le champ est
						invalide</span>
				</div>
				<div class="my-10">
					
					<input formControlName="observations" type="text"  
						class="form-field" [ngClass]="{ 'error': submitted && form.controls.elements.get('sol')?.get('observations')?.invalid }" placeholder="Observations"/>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('sol')?.get('observations')?.invalid">Le
						champ est invalide</span>
				</div>
			</div>
	
			<div class="--bold-txt mt-20">
				Porte
			</div>
			<div formGroupName="porte" class="field-group">
				<div class="my-10 mr-10">
					<select formControlName="etat" class="form-field"
						[ngClass]="{ 'error': submitted && form.controls.elements.get('porte')?.get('etat')?.invalid }">
						<option value="" disabled selected>État</option>
						<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
						</option>
					</select>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('porte')?.get('etat')?.invalid">Le champ est
						invalide</span>
				</div>
				<div class="my-10">
					
					<input formControlName="observations" type="text"  
						class="form-field" [ngClass]="{ 'error': submitted && form.controls.elements.get('porte')?.get('observations')?.invalid }" placeholder="Observations"/>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('porte')?.get('observations')?.invalid">Le
						champ est invalide</span>
				</div>
			</div>
	
			<div class="--bold-txt mt-20">
				Plinthes
			</div>
			<div formGroupName="plinthes" class="field-group">
				<div class="my-10 mr-10">
					<select formControlName="etat" class="form-field"
						[ngClass]="{ 'error': submitted && form.controls.elements.get('plinthes')?.get('etat')?.invalid }">
						<option value="" disabled selected>État</option>
						<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
						</option>
					</select>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('plinthes')?.get('etat')?.invalid">Le champ est
						invalide</span>
				</div>
				<div class="my-10">
					
					<input formControlName="observations" type="text"  
						class="form-field" [ngClass]="{ 'error': submitted && form.controls.elements.get('plinthes')?.get('observations')?.invalid }" placeholder="Observations"/>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('plinthes')?.get('observations')?.invalid">Le
						champ est invalide</span>
				</div>
			</div>
	
			<div class="--bold-txt mt-20">
				Fenêtres, volets
			</div>
			<div formGroupName="fenetreVolet" class="field-group">
				<div class="my-10 mr-10">
					<select formControlName="etat" class="form-field"
						[ngClass]="{ 'error': submitted && form.controls.elements.get('fenetreVolet')?.get('etat')?.invalid }">
						<option value="" disabled selected>État</option>
						<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
						</option>
					</select>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('fenetreVolet')?.get('etat')?.invalid">Le champ est
						invalide</span>
				</div>
				<div class="my-10">
					
					<input formControlName="observations" type="text"  
						class="form-field" [ngClass]="{ 'error': submitted && form.controls.elements.get('fenetreVolet')?.get('observations')?.invalid }" placeholder="Observations"/>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('fenetreVolet')?.get('observations')?.invalid">Le
						champ est invalide</span>
				</div>
			</div>
	
			<div class="--bold-txt mt-20">
				Placards
			</div>
			<div formGroupName="placard" class="field-group">
				<div class="my-10 mr-10">
					<select formControlName="etat" class="form-field"
						[ngClass]="{ 'error': submitted && form.controls.elements.get('placard')?.get('etat')?.invalid }">
						<option value="" disabled selected>État</option>
						<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
						</option>
					</select>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('placard')?.get('etat')?.invalid">Le champ est
						invalide</span>
				</div>
				<div class="my-10">
					
					<input formControlName="observations" type="text"  
						class="form-field" [ngClass]="{ 'error': submitted && form.controls.elements.get('placard')?.get('observations')?.invalid }" placeholder="Observations"/>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('placard')?.get('observations')?.invalid">Le
						champ est invalide</span>
				</div>
			</div>
	
			<div class="--bold-txt mt-20">
				Vasque
			</div>
			<div formGroupName="vasque" class="field-group">
				<div class="my-10 mr-10">
					<select formControlName="etat" class="form-field"
						[ngClass]="{ 'error': submitted && form.controls.elements.get('vasque')?.get('etat')?.invalid }">
						<option value="" disabled selected>État</option>
						<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
						</option>
					</select>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('vasque')?.get('etat')?.invalid">Le champ est
						invalide</span>
				</div>
				<div class="my-10">
					
					<input formControlName="observations" type="text"  
						class="form-field" [ngClass]="{ 'error': submitted && form.controls.elements.get('vasque')?.get('observations')?.invalid }" placeholder="Observations"/>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('vasque')?.get('observations')?.invalid">Le
						champ est invalide</span>
				</div>
			</div>
	
			<div class="--bold-txt mt-20">
				Meuble sous vasque
			</div>
			<div formGroupName="meubleSousVasque" class="field-group">
				<div class="my-10 mr-10">
					<select formControlName="etat" class="form-field"
						[ngClass]="{ 'error': submitted && form.controls.elements.get('meubleSousVasque')?.get('etat')?.invalid }">
						<option value="" disabled selected>État</option>
						<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
						</option>
					</select>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('meubleSousVasque')?.get('etat')?.invalid">Le champ est
						invalide</span>
				</div>
				<div class="my-10">
					
					<input formControlName="observations" type="text"  
						class="form-field" [ngClass]="{ 'error': submitted && form.controls.elements.get('meubleSousVasque')?.get('observations')?.invalid }" placeholder="Observations"/>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('meubleSousVasque')?.get('observations')?.invalid">Le
						champ est invalide</span>
				</div>
			</div>
	
			<div class="--bold-txt mt-20">
				Baignoire, douche
			</div>
			<div formGroupName="baignoireDouche" class="field-group">
				<div class="my-10 mr-10">
					<select formControlName="etat" class="form-field"
						[ngClass]="{ 'error': submitted && form.controls.elements.get('baignoireDouche')?.get('etat')?.invalid }">
						<option value="" disabled selected>État</option>
						<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
						</option>
					</select>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('baignoireDouche')?.get('etat')?.invalid">Le champ est
						invalide</span>
				</div>
				<div class="my-10">
					
					<input formControlName="observations" type="text"  
						class="form-field" [ngClass]="{ 'error': submitted && form.controls.elements.get('baignoireDouche')?.get('observations')?.invalid }" placeholder="Observations"/>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('baignoireDouche')?.get('observations')?.invalid">Le
						champ est invalide</span>
				</div>
			</div>
	
			<div class="--bold-txt mt-20">
				Autres
			</div>
			<div formGroupName="autres" class="field-group">
				<div class="my-10 mr-10">
					<select formControlName="etat" class="form-field"
						[ngClass]="{ 'error': submitted && form.controls.elements.get('autres')?.get('etat')?.invalid }">
						<option value="" disabled selected>État</option>
						<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
						</option>
					</select>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('autres')?.get('etat')?.invalid">Le champ est
						invalide</span>
				</div>
				<div class="my-10">
					
					<input formControlName="observations" type="text"  
						class="form-field" [ngClass]="{ 'error': submitted && form.controls.elements.get('autres')?.get('observations')?.invalid }" placeholder="Observations"/>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('autres')?.get('observations')?.invalid">Le
						champ est invalide</span>
				</div>
			</div>
		</div>

		<div formGroupName="equipements">
			<h3 class="mt-30">Équipements</h3>
			<div class="--bold-txt mt-20">
				Robinetterie vasque
			</div>
			<div formGroupName="robinetterieVasque" class="field-group">
				<div class="my-10 mr-10">
					<select formControlName="etat" class="form-field"
						[ngClass]="{ 'error': submitted && form.controls.elements.get('robinetterieVasque')?.get('etat')?.invalid }">
						<option value="" disabled selected>État</option>
						<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
						</option>
					</select>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('robinetterieVasque')?.get('etat')?.invalid">Le champ est
						invalide</span>
				</div>
				<div class="my-10">
					
					<input formControlName="observations" type="text"  
						class="form-field" [ngClass]="{ 'error': submitted && form.controls.elements.get('robinetterieVasque')?.get('observations')?.invalid }" placeholder="Observations"/>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('robinetterieVasque')?.get('observations')?.invalid">Le
						champ est invalide</span>
				</div>
			</div>
	
			<div class="--bold-txt mt-20">
				Évacuation vasque
			</div>
			<div formGroupName="evacuationVasque" class="field-group">
				<div class="my-10 mr-10">
					<select formControlName="etat" class="form-field"
						[ngClass]="{ 'error': submitted && form.controls.elements.get('evacuationVasque')?.get('etat')?.invalid }">
						<option value="" disabled selected>État</option>
						<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
						</option>
					</select>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('evacuationVasque')?.get('etat')?.invalid">Le champ est
						invalide</span>
				</div>
				<div class="my-10">
					
					<input formControlName="observations" type="text"  
						class="form-field" [ngClass]="{ 'error': submitted && form.controls.elements.get('evacuationVasque')?.get('observations')?.invalid }" placeholder="Observations"/>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('evacuationVasque')?.get('observations')?.invalid">Le
						champ est invalide</span>
				</div>
			</div>
	
			<div class="--bold-txt mt-20">
				Robinetterie douche
			</div>
			<div formGroupName="robinetterieDouche" class="field-group">
				<div class="my-10 mr-10">
					<select formControlName="etat" class="form-field"
						[ngClass]="{ 'error': submitted && form.controls.elements.get('robinetterieDouche')?.get('etat')?.invalid }">
						<option value="" disabled selected>État</option>
						<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
						</option>
					</select>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('robinetterieDouche')?.get('etat')?.invalid">Le champ est
						invalide</span>
				</div>
				<div class="my-10">
					
					<input formControlName="observations" type="text"  
						class="form-field" [ngClass]="{ 'error': submitted && form.controls.elements.get('robinetterieDouche')?.get('observations')?.invalid }" placeholder="Observations"/>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('robinetterieDouche')?.get('observations')?.invalid">Le
						champ est invalide</span>
				</div>
			</div>
	
			<div class="--bold-txt mt-20">
				Évacuation douche
			</div>
			<div formGroupName="evacuationDouche" class="field-group">
				<div class="my-10 mr-10">
					<select formControlName="etat" class="form-field"
						[ngClass]="{ 'error': submitted && form.controls.elements.get('evacuationDouche')?.get('etat')?.invalid }">
						<option value="" disabled selected>État</option>
						<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
						</option>
					</select>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('evacuationDouche')?.get('etat')?.invalid">Le champ est
						invalide</span>
				</div>
				<div class="my-10">
					
					<input formControlName="observations" type="text"  
						class="form-field" [ngClass]="{ 'error': submitted && form.controls.elements.get('evacuationDouche')?.get('observations')?.invalid }" placeholder="Observations"/>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('evacuationDouche')?.get('observations')?.invalid">Le
						champ est invalide</span>
				</div>
			</div>
	
			<div class="--bold-txt mt-20">
				Robinetterie baignoire
			</div>
			<div formGroupName="robinetterieBaignoire" class="field-group">
				<div class="my-10 mr-10">
					<select formControlName="etat" class="form-field"
						[ngClass]="{ 'error': submitted && form.controls.elements.get('robinetterieBaignoire')?.get('etat')?.invalid }">
						<option value="" disabled selected>État</option>
						<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
						</option>
					</select>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('robinetterieBaignoire')?.get('etat')?.invalid">Le champ est
						invalide</span>
				</div>
				<div class="my-10">
					
					<input formControlName="observations" type="text"  
						class="form-field" [ngClass]="{ 'error': submitted && form.controls.elements.get('robinetterieBaignoire')?.get('observations')?.invalid }" placeholder="Observations"/>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('robinetterieBaignoire')?.get('observations')?.invalid">Le
						champ est invalide</span>
				</div>
			</div>
	
			<div class="--bold-txt mt-20">
				Évacuation baignoire
			</div>
			<div formGroupName="evacuationBaignoire" class="field-group">
				<div class="my-10 mr-10">
					<select formControlName="etat" class="form-field"
						[ngClass]="{ 'error': submitted && form.controls.elements.get('evacuationBaignoire')?.get('etat')?.invalid }">
						<option value="" disabled selected>État</option>
						<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
						</option>
					</select>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('evacuationBaignoire')?.get('etat')?.invalid">Le champ est
						invalide</span>
				</div>
				<div class="my-10">
					
					<input formControlName="observations" type="text"  
						class="form-field" [ngClass]="{ 'error': submitted && form.controls.elements.get('evacuationBaignoire')?.get('observations')?.invalid }" placeholder="Observations"/>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('evacuationBaignoire')?.get('observations')?.invalid">Le
						champ est invalide</span>
				</div>
			</div>
	
			<div class="--bold-txt mt-20">
				Joints
			</div>
			<div formGroupName="joints" class="field-group">
				<div class="my-10 mr-10">
					<select formControlName="etat" class="form-field"
						[ngClass]="{ 'error': submitted && form.controls.elements.get('joints')?.get('etat')?.invalid }">
						<option value="" disabled selected>État</option>
						<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
						</option>
					</select>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('joints')?.get('etat')?.invalid">Le champ est
						invalide</span>
				</div>
				<div class="my-10">
					
					<input formControlName="observations" type="text"  
						class="form-field" [ngClass]="{ 'error': submitted && form.controls.elements.get('joints')?.get('observations')?.invalid }" placeholder="Observations"/>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('joints')?.get('observations')?.invalid">Le
						champ est invalide</span>
				</div>
			</div>
	
			<div class="--bold-txt mt-20">
				Rangements
			</div>
			<div formGroupName="rangements" class="field-group">
				<div class="my-10 mr-10">
					<select formControlName="etat" class="form-field"
						[ngClass]="{ 'error': submitted && form.controls.elements.get('rangements')?.get('etat')?.invalid }">
						<option value="" disabled selected>État</option>
						<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
						</option>
					</select>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('rangements')?.get('etat')?.invalid">Le champ est
						invalide</span>
				</div>
				<div class="my-10">
					
					<input formControlName="observations" type="text"  
						class="form-field" [ngClass]="{ 'error': submitted && form.controls.elements.get('rangements')?.get('observations')?.invalid }" placeholder="Observations"/>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('rangements')?.get('observations')?.invalid">Le
						champ est invalide</span>
				</div>
			</div>
	
			<div class="--bold-txt mt-20">
				WC
			</div>
			<div formGroupName="wc" class="field-group">
				<div class="my-10 mr-10">
					<select formControlName="etat" class="form-field"
						[ngClass]="{ 'error': submitted && form.controls.elements.get('wc')?.get('etat')?.invalid }">
						<option value="" disabled selected>État</option>
						<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
						</option>
					</select>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('wc')?.get('etat')?.invalid">Le champ est
						invalide</span>
				</div>
				<div class="my-10">
					
					<input formControlName="observations" type="text"  
						class="form-field" [ngClass]="{ 'error': submitted && form.controls.elements.get('wc')?.get('observations')?.invalid }" placeholder="Observations"/>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('wc')?.get('observations')?.invalid">Le
						champ est invalide</span>
				</div>
			</div>
	
			<div class="--bold-txt mt-20">
				Miroir
			</div>
			<div formGroupName="miroir" class="field-group">
				<div class="my-10 mr-10">
					<select formControlName="etat" class="form-field"
						[ngClass]="{ 'error': submitted && form.controls.elements.get('miroir')?.get('etat')?.invalid }">
						<option value="" disabled selected>État</option>
						<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
						</option>
					</select>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('miroir')?.get('etat')?.invalid">Le champ est
						invalide</span>
				</div>
				<div class="my-10">
					
					<input formControlName="observations" type="text"  
						class="form-field" [ngClass]="{ 'error': submitted && form.controls.elements.get('miroir')?.get('observations')?.invalid }" placeholder="Observations"/>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('miroir')?.get('observations')?.invalid">Le
						champ est invalide</span>
				</div>
			</div>

			<div class="--bold-txt mt-20">
				Radiateur
			</div>
			<div formGroupName="radiateur" class="field-group">
				<div class="my-10 mr-10">
					<select formControlName="etat" class="form-field"
						[ngClass]="{ 'error': submitted && form.controls.elements.get('radiateur')?.get('etat')?.invalid }">
						<option value="" disabled selected>État</option>
						<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
						</option>
					</select>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('radiateur')?.get('etat')?.invalid">Le champ est
						invalide</span>
				</div>
				<div class="my-10">
					
					<input formControlName="observations" type="text"  
						class="form-field" [ngClass]="{ 'error': submitted && form.controls.elements.get('radiateur')?.get('observations')?.invalid }" placeholder="Observations"/>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('radiateur')?.get('observations')?.invalid">Le
						champ est invalide</span>
				</div>
			</div>

			<div class="--bold-txt mt-20">
				Éclairage
			</div>
			<div formGroupName="eclairage" class="field-group">
				<div class="my-10 mr-10">
					<select formControlName="etat" class="form-field"
						[ngClass]="{ 'error': submitted && form.controls.elements.get('eclairage')?.get('etat')?.invalid }">
						<option value="" disabled selected>État</option>
						<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
						</option>
					</select>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('eclairage')?.get('etat')?.invalid">Le champ est
						invalide</span>
				</div>
				<div class="my-10">
					
					<input formControlName="observations" type="text"  
						class="form-field" [ngClass]="{ 'error': submitted && form.controls.elements.get('eclairage')?.get('observations')?.invalid }" placeholder="Observations"/>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('eclairage')?.get('observations')?.invalid">Le
						champ est invalide</span>
				</div>
			</div>

			<div class="--bold-txt mt-20">
				Prises électriques
			</div>
			<div formGroupName="prisesElectriques" class="field-group">
				<div class="my-10 mr-10">
					<select formControlName="etat" class="form-field"
						[ngClass]="{ 'error': submitted && form.controls.elements.get('prisesElectriques')?.get('etat')?.invalid }">
						<option value="" disabled selected>État</option>
						<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
						</option>
					</select>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('prisesElectriques')?.get('etat')?.invalid">Le champ est
						invalide</span>
				</div>
				<div class="my-10">
					
					<input formControlName="observations" type="text"  
						class="form-field" [ngClass]="{ 'error': submitted && form.controls.elements.get('prisesElectriques')?.get('observations')?.invalid }" placeholder="Observations"/>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('prisesElectriques')?.get('observations')?.invalid">Le
						champ est invalide</span>
				</div>
			</div>
	
			<div class="--bold-txt mt-20">
				Interrupteurs
			</div>
			<div formGroupName="interrupteurs" class="field-group">
				<div class="my-10 mr-10">
					<select formControlName="etat" class="form-field"
						[ngClass]="{ 'error': submitted && form.controls.elements.get('interrupteurs')?.get('etat')?.invalid }">
						<option value="" disabled selected>État</option>
						<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
						</option>
					</select>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('interrupteurs')?.get('etat')?.invalid">Le champ est
						invalide</span>
				</div>
				<div class="my-10">
					
					<input formControlName="observations" type="text"  
						class="form-field" [ngClass]="{ 'error': submitted && form.controls.elements.get('interrupteurs')?.get('observations')?.invalid }" placeholder="Observations"/>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('interrupteurs')?.get('observations')?.invalid">Le
						champ est invalide</span>
				</div>
			</div>
			
			<div class="--bold-txt mt-20">
				Ventilation
			</div>
			<div formGroupName="ventilation" class="field-group">
				<div class="my-10 mr-10">
					<select formControlName="etat" class="form-field"
						[ngClass]="{ 'error': submitted && form.controls.elements.get('ventilation')?.get('etat')?.invalid }">
						<option value="" disabled selected>État</option>
						<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
						</option>
					</select>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('ventilation')?.get('etat')?.invalid">Le champ est
						invalide</span>
				</div>
				<div class="my-10">
					
					<input formControlName="observations" type="text"  
						class="form-field" [ngClass]="{ 'error': submitted && form.controls.elements.get('ventilation')?.get('observations')?.invalid }" placeholder="Observations"/>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('ventilation')?.get('observations')?.invalid">Le
						champ est invalide</span>
				</div>
			</div>
	
			<div class="--bold-txt mt-20">
				Autres
			</div>
			<div formGroupName="autres" class="field-group">
				<div class="my-10 mr-10">
					<select formControlName="etat" class="form-field"
						[ngClass]="{ 'error': submitted && form.controls.elements.get('autres')?.get('etat')?.invalid }">
						<option value="" disabled selected>État</option>
						<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
						</option>
					</select>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('autres')?.get('etat')?.invalid">Le champ est
						invalide</span>
				</div>
				<div class="my-10">
					
					<input formControlName="observations" type="text"  
						class="form-field" [ngClass]="{ 'error': submitted && form.controls.elements.get('autres')?.get('observations')?.invalid }" placeholder="Observations"/>
					<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.elements.get('autres')?.get('observations')?.invalid">Le
						champ est invalide</span>
				</div>
			</div>
		</div>

		<button type="button" class="--primary-btn" (click)="onSubmit()">Valider la {{ typePiece }}</button>
	</form>
</div>