<div class="_container">
  <div class="--relative mx-auto py-30 --center-txt --white --z-index-4 --bg-purple">
    <span class="--inline-block">© Copyright {{constants.SITE_NAME}}, {{constants.CURRENT_DATE | date:'YYYY'}}.</span>
    <span class="--inline-block"> Tous droits réservés.</span>
  </div>
</div>