<div class="_container --bg-light-grey py-100 --relative">
	<div class="_row ">
		<div class="_col">
			<div class="--bg-white p-40 pt-60 --border-radius-5">
				<h1 class="--purple">Contrat de location ou de colocation de logement vide</h1>
				<h6>(Soumis au titre Ier de la loi du 6 juillet 1989 tendant à améliorer les rapports locatifs et
					portant
					modification de la loi n° 86-1290 du 23 décembre 1986)</h6>

				<h2 class="my-20">VII. Clause de solidarité</h2>
				<p class="--justify-txt">
					Modalités particulières des obligations en cas de pluralité de locataires : en
					cas de colocation,
					c'est à dire de la
					location d’un même logement par plusieurs locataires, constituant leur résidence principale et
					formalisée par la conclusion
					d’un contrat unique ou de plusieurs contrats entre les locataires et le bailleur, les locataires
					sont tenus conjointement,
					solidairement et indivisiblement à l’égard du bailleur au paiement des loyers, charges et
					accessoires dus en application du
					présent bail. La solidarité d'un des colocataires et celle de la personne qui s'est portée caution
					pour lui prennent fin à la
					date d'effet du congé régulièrement délivré et lorsqu'un nouveau colocataire figure au bail. A
					défaut, la solidarité du colocataire
					sortant s'éteint au plus tard à l'expiration d'un délai de six mois après la date d'effet du congé.
				</p>

				<h2 class="my-20">VIII. Clause résolutoire</h2>
				<p class="--justify-txt">
					Modalités de résiliation de plein droit du contrat : Le bail sera résilié de plein droit en cas
					d'inexécution des obligations du
					locataire, soit en cas de défaut de paiement des loyers et des charges locatives au terme convenu,
					de non-versement du dépôt de garantie,
					de défaut d'assurance du locataire contre les risques locatifs, de troubles de voisinage constatés
					par une décision de justice passée en
					force de chose jugée rendue au profit d'un tiers. Le bailleur devra assigner le locataire devant le
					tribunal pour faire constater
					l'acquisition de la clause résolutoire et la résiliation de plein droit du bail. Lorsque le bailleur
					souhaite mettre en œuvre la clause
					résolutoire pour défaut de paiement des loyers et des charges ou pour nonversement du dépôt de
					garantie, il doit préalablement faire
					signifier au locataire, par acte d'huissier, un commandement de payer, qui doit mentionner certaines
					informations et notamment la faculté
					pour le locataire de saisir le fonds de solidarité pour le logement. De plus, pour les bailleurs
					personnes physiques ou les sociétés
					immobilières familiales, le commandement de payer doit être signalé par l'huissier à la commission
					de coordination des actions de prévention
					des expulsions locatives dès lors que l'un des seuils relatifs au montant et à l'ancienneté de la
					dette, fixé par arrêté préfectoral, est atteint.
					Le locataire peut, à compter de la réception du commandement, régler sa dette, saisir le juge
					d'instance pour demander des délais de paiement, voire
					demander ponctuellement une aide financière à un fonds de solidarité pour le logement. Si le
					locataire ne s'est pas acquitté des sommes dues dans les
					deux mois suivant la signification, le bailleur peut alors assigner le locataire en justice pour
					faire constater la résiliation de plein droit du bail.
					En cas de défaut d'assurance, le bailleur ne peut assigner en justice le locataire pour faire
					constater l'acquisition de la clause résolutoire qu'après un
					délai d'un mois après un commandement demeuré infructueux. Clause applicable selon les modalités
					décrites au paragraphe 4.3.2.1. de la notice d'information
					jointe au présent bail.
				</p>
				<div class="--flex --justify-content-center --center-txt mt-20">
					<div class="mr-20">
						<h4>Signature bailleur</h4>
						<canvas *ngIf="signing.bailleur" signature="signature" width="300" height="150" [clear]="clearMe.bailleur" [options]="{color: '#000', width: 1, blur: 0}" style="border: 1px solid black" (imgSrc)="srcChange($event, 'bailleur')"></canvas>
						<div *ngIf="!signing.bailleur">
							<img [src]="src.bailleur" style="width: 300px; height: 150px" />
							<p class="form-text">
								<i class="fas fa-check --green"></i> Bail signé côté bailleur
							</p>
						</div>
						<p *ngIf="signing.bailleur && src.bailleur.length > 0">
							<a (click)="clear('bailleur')" class="mr-10">Effacer</a>
							<a (click)="save('bailleur')">Enregistrer</a>
						</p>
					</div>
					<div>
						<h4>Signature locataire</h4>
						<canvas *ngIf="signing.locataire" signature="signature" width="300" height="150" [clear]="clearMe.locataire" [options]="{color: '#000', width: 1, blur: 0}" style="border: 1px solid black" (imgSrc)="srcChange($event, 'locataire')"></canvas>
						<div *ngIf="!signing.locataire">
							<img [src]="src.locataire" style="width: 300px; height: 150px" />
							<p class="form-text">
								<i class="fas fa-check --green"></i> Bail signé côté locataire
							</p>
						</div>
						<p *ngIf="signing.locataire && src.locataire.length > 0">
							<a (click)="clear('locataire')" class="mr-10">Effacer</a>
							<a (click)="save('locataire')">Enregistrer</a>
						</p>
					</div>
				</div>
				<div class="--center-txt my-50">
					<button type="button" class="--secondary-btn-outlined"
						routerLink="/admin/creation-bail/travaux-garanties">Précédent</button>
					<button type="button" class="--secondary-btn" (click)="onSubmit()" [disabled]="signing.bailleur || signing.locataire">Terminer</button>
					<button type="button" class="--secondary-btn-outlined" (click)="genererBailPDF()" [disabled]="signing.bailleur || signing.locataire">Télécharger PDF</button>
				</div>
			</div>
		</div>
	</div>
</div>
