<div class="--bg-white p-40 pt-40 --border-radius-5" [class]="'autrePiece'.concat(formLabel)">
	<input type="checkbox" class="dropdown" [id]="'autrePiece'.concat(formLabel)" />
	<div class="--width-full">
		<label [for]="'autrePiece'.concat(formLabel)" class="dropdown-label --flex --justify-content-space-between">
			<h2 [style]="(!submitted || !form.valid) ? 'cursor: pointer;' : 'cursor: not-allowed'">{{ formLabel }} - {{ typePieceString }}</h2>
			<i *ngIf="submitted && form.valid" (click)="editForm()" class="fas fa-edit" style="cursor: pointer;"> </i>
		</label>
	</div>
	<form *ngIf="form" [formGroup]="form" class="dropdown-item" [class]="'autrePieceItem'.concat(formLabel)">
		<div class="--bold-txt mt-20">
			Rangements, placards
		</div>
		<div formGroupName="rangementsPlacards" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.rangementsPlacards.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.rangementsPlacards.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.rangementsPlacards.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.rangementsPlacards.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Serrures, portes, menuiseries
		</div>
		<div formGroupName="serruresPortesMenuiseries" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.serruresPortesMenuiseries.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.serruresPortesMenuiseries.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.serruresPortesMenuiseries.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.serruresPortesMenuiseries.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Fenêtres, volets
		</div>
		<div formGroupName="fenetresVolets" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.fenetresVolets.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.fenetresVolets.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.fenetresVolets.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.fenetresVolets.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Murs
		</div>
		<div formGroupName="murs" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.murs.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.murs.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.murs.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.murs.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Plafond
		</div>
		<div formGroupName="plafond" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.plafond.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.plafond.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.plafond.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.plafond.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Sol, plinthes
		</div>
		<div formGroupName="solPlinthes" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.solPlinthes.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.solPlinthes.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.solPlinthes.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.solPlinthes.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Robinetterie
		</div>
		<div formGroupName="robinetterie" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.robinetterie.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.robinetterie.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.robinetterie.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.robinetterie.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Prises et interrupteurs
		</div>
		<div formGroupName="prisesInterrupteurs" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.prisesInterrupteurs.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.prisesInterrupteurs.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.prisesInterrupteurs.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.prisesInterrupteurs.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Radiateurs, tuyauterie
		</div>
		<div formGroupName="radiateursTuyauterie" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.radiateursTuyauterie.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.radiateursTuyauterie.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.radiateursTuyauterie.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.radiateursTuyauterie.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Eclairage
		</div>
		<div formGroupName="eclairage" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.eclairage.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.eclairage.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.eclairage.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.eclairage.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<button type="button" class="--primary-btn" (click)="onSubmit()">Valider {{ typePieceString }}</button>
	</form>
</div>