.input-file:focus + label,
.input-file + label:hover {
	color: purple;
	background: transparent;
}

.input-file + label {
	cursor: pointer; /* "hand" cursor */
}

.input-file + label * {
	pointer-events: none;
}
