<div class="_container py-100 --bg-light-grey">
    <div class="_row">
        <div class="_col --z-index-4">
            <form [formGroup]="uploadForm" class="mx-auto">
                <div class="mt-40 --width-full --bg-white --border-radius-5 p-40">
                    <h2 class="mb-20">Pièces justificatives</h2>
                    <div
                        class="--flex --flex-wrap --justify-content-space-between --border-radius-5 --border-1-solid p-40">
                        <div class="--width-400">
                            <h4 class="--underline-txt --purple mb-20">Bail de location</h4>
                            <div *ngIf="listFileLocation.listFileBail.length > 0" class="mt-20">
                                <h4 class="mb-10">Liste des fichiers sauvegardées</h4>
                                <div *ngFor="let fileName of listFileLocation.listFileBail[0]" class="--grey --sm-txt">
                                    <a href="{{this.url_basic}}{{this.idBail}}{{this.constants.PATH_FILE_LOCATION.BAIL}}{{ fileName }}" target="_blank">
                                        <i class=" ml-20 mr-3 fas fa-1x fa-file --width-10 --line-height-40"></i>
                                        {{ fileName }}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="--flex --flex-wrap">
                                <input type="file" name="fileBail" id="fileBail"
                                    class="input-file --hidden --absolute --width-250" multiple
                                    (change)="onFileChange($event,'bail')" accept=".pdf" />
                                <label for="fileBail"
                                    class="--white --sm-txt --bg-purple --border-1-solid --bd-purple --width-200 --center-txt --line-height-40">
                                    <span class="ml-3  --line-height-40"><i
                                            ngClass="{{f.fileBail.value.length > 0 ? 'fa-check' : 'fa-upload' }}"
                                            class="fas"></i></span>
                                    <span class="ml-3">
                                        {{
                                        f.fileBail.value.length > 0 ? f.fileBail.value.length +
                                        " ficher(s) ajouté(s)" : "Ajouter vos fichiers"
                                        }}
                                    </span>
                                </label>
                                <i class="ml-5 fas fa-3x fa-window-close --red --center-txt --width-50 --line-height-40"
                                    (click)="onDeleteFile('bail')"
                                    [ngClass]="{ '--hidden': f.fileBail.value.length <= 0 }"></i>
                            </div>
                            <div *ngIf="f.fileBail.value.length > 0" class="mt-20">
                                <h4 class="mb-10">Liste des fichiers</h4>
                                <div *ngFor="let fileName of listFileNameBail" class="--grey --sm-txt">
                                    <i class="ml-20 mr-3 fas fa-1x fa-file --width-10 --line-height-40"></i>
                                    {{ fileName }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="--flex --flex-wrap --justify-content-space-between --border-radius-5 --border-1-solid mt-20 p-40">
                        <div class="--width-400">
                            <h4 class="--underline-txt --purple mb-20">Etat des lieux</h4>
                            <div *ngIf="listFileLocation.listFileEtatLieu.length > 0" class="mt-20">
                                <h4 class="mb-10">Liste des fichiers sauvegardées</h4>
                                <div *ngFor="let fileName of listFileLocation.listFileEtatLieu[0]"
                                    class="--grey --sm-txt">
                                    <a href="{{this.url_basic}}{{this.idBail}}{{this.constants.PATH_FILE_LOCATION.BAIL}}{{ fileName }}" target="_blank">
                                        <i class=" ml-20 mr-3 fas fa-1x fa-file --width-10 --line-height-40"></i>
                                        {{ fileName }}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="--flex --flex-wrap">
                                <input type="file" name="fileEtatLieu" id="fileEtatLieu"
                                    class="input-file --hidden --absolute --width-250" multiple
                                    (change)="onFileChange($event,'etatLieu')" accept=".pdf" />
                                <label for="fileEtatLieu"
                                    class="--white --sm-txt --bg-purple --border-1-solid --bd-purple --width-200 --center-txt --line-height-40">
                                    <span class="ml-3  --line-height-40"><i
                                            ngClass="{{f.fileEtatLieu.value.length > 0 ? 'fa-check' : 'fa-upload' }}"
                                            class="fas"></i></span>
                                    <span class="ml-3">
                                        {{
                                        f.fileEtatLieu.value.length > 0 ? f.fileEtatLieu.value.length +
                                        " ficher(s) ajouté(s)" : "Ajouter vos fichiers"
                                        }}
                                    </span>
                                </label>
                                <i class="ml-5 fas fa-3x fa-window-close --red --center-txt --width-50 --line-height-40"
                                    (click)="onDeleteFile('etatLieu')"
                                    [ngClass]="{ '--hidden': f.fileEtatLieu.value.length <= 0 }"></i>
                            </div>
                            <div *ngIf="f.fileEtatLieu.value.length > 0" class="mt-20">
                                <h4 class="mb-10">Liste des fichiers</h4>
                                <div *ngFor="let fileName of listFileNameEtatLieu" class="--grey --sm-txt">
                                    <i class="ml-20 mr-3 fas fa-1x fa-file --width-10 --line-height-40"></i>
                                    {{ fileName }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="--flex --flex-wrap --justify-content-space-between --border-radius-5 --border-1-solid mt-20 p-40">
                        <div class="--width-400">
                            <h4 class="--underline-txt --purple mb-20">Assurance du propriétaire</h4>
                            <div *ngIf="listFileLocation.listFileAssuranceProprietaire.length > 0" class="mt-20">
                                <h4 class="mb-10">Liste des fichiers sauvegardées</h4>
                                <div *ngFor="let fileName of listFileLocation.listFileAssuranceProprietaire[0]"
                                    class="--grey --sm-txt">
                                    <a href="{{this.url_basic}}{{this.idBail}}{{this.constants.PATH_FILE_LOCATION.BAIL}}{{ fileName }}" target="_blank">
                                        <i class=" ml-20 mr-3 fas fa-1x fa-file --width-10 --line-height-40"></i>
                                        {{ fileName }}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="--flex --flex-wrap">
                                <input type="file" name="fileAssuranceProprietaire" id="fileAssuranceProprietaire"
                                    class="input-file --hidden --absolute --width-250" multiple
                                    (change)="onFileChange($event,'assuranceProprietaire')" accept=".pdf" />
                                <label for="fileAssuranceProprietaire"
                                    class="--white --sm-txt --bg-purple --border-1-solid --bd-purple --width-200 --center-txt --line-height-40">
                                    <span class="ml-3  --line-height-40"><i
                                            ngClass="{{f.fileAssuranceProprietaire.value.length > 0 ? 'fa-check' : 'fa-upload' }}"
                                            class="fas"></i></span>
                                    <span class="ml-3">
                                        {{
                                        f.fileAssuranceProprietaire.value.length > 0 ?
                                        f.fileAssuranceProprietaire.value.length +
                                        " ficher(s) ajouté(s)" : "Ajouter vos fichiers"
                                        }}
                                    </span>
                                </label>
                                <i class="ml-5 fas fa-3x fa-window-close --red --center-txt --width-50 --line-height-40"
                                    (click)="onDeleteFile('assuranceProprietaire')"
                                    [ngClass]="{ '--hidden': f.fileAssuranceProprietaire.value.length <= 0 }"></i>
                            </div>
                            <div *ngIf="f.fileAssuranceProprietaire.value.length > 0" class="mt-20">
                                <h4 class="mb-10">Liste des fichiers</h4>
                                <div *ngFor="let fileName of listFileNameAssuranceProprietaire" class="--grey --sm-txt">
                                    <i class="ml-20 mr-3 fas fa-1x fa-file --width-10 --line-height-40"></i>
                                    {{ fileName }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="--flex --flex-wrap --justify-content-space-between --border-radius-5 --border-1-solid mt-20 p-40">
                        <div class="--width-400">
                            <h4 class="--underline-txt --purple mb-20">Assurance du locataire</h4>
                            <div *ngIf="listFileLocation.listFileAssuranceLocataire.length > 0" class="mt-20">
                                <h4 class="mb-10">Liste des fichiers sauvegardées</h4>
                                <div *ngFor="let fileName of listFileLocation.listFileAssuranceLocataire[0]"
                                    class="--grey --sm-txt">
                                    <a href="{{this.url_basic}}{{this.idBail}}{{this.constants.PATH_FILE_LOCATION.BAIL}}{{ fileName }}" target="_blank">
                                        <i class=" ml-20 mr-3 fas fa-1x fa-file --width-10 --line-height-40"></i>
                                        {{ fileName }}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="--flex --flex-wrap">
                                <input type="file" name="fileAssuranceLocataire" id="fileAssuranceLocataire"
                                    class="input-file --hidden --absolute --width-250" multiple
                                    (change)="onFileChange($event,'assuranceLocation')" accept=".pdf" />
                                <label for="fileAssuranceLocataire"
                                    class="--white --sm-txt --bg-purple --border-1-solid --bd-purple --width-200 --center-txt --line-height-40">
                                    <span class="ml-3  --line-height-40"><i
                                            ngClass="{{f.fileAssuranceLocataire.value.length > 0 ? 'fa-check' : 'fa-upload' }}"
                                            class="fas"></i></span>
                                    <span class="ml-3">
                                        {{
                                        f.fileAssuranceLocataire.value.length > 0 ?
                                        f.fileAssuranceLocataire.value.length +
                                        " ficher(s) ajouté(s)" : "Ajouter vos fichiers"
                                        }}
                                    </span>
                                </label>
                                <i class="ml-5 fas fa-3x fa-window-close --red --center-txt --width-50 --line-height-40"
                                    (click)="onDeleteFile('assuranceLocation')"
                                    [ngClass]="{ '--hidden': f.fileAssuranceLocataire.value.length <= 0 }"></i>
                            </div>
                            <div *ngIf="f.fileAssuranceLocataire.value.length > 0" class="mt-20">
                                <h4 class="mb-10">Liste des fichiers</h4>
                                <div *ngFor="let fileName of listFileNameAssuranceLocataire" class="--grey --sm-txt">
                                    <i class="ml-20 mr-3 fas fa-1x fa-file --width-10 --line-height-40"></i>
                                    {{ fileName }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="--flex --flex-wrap --justify-content-space-between --border-radius-5 --border-1-solid mt-20 p-40">
                        <div class="--width-400">
                            <h4 class="--underline-txt --purple mb-20">Contrat de gestion locative</h4>
                            <div *ngIf="listFileLocation.listFileContratGestion.length > 0" class="mt-20">
                                <h4 class="mb-10">Liste des fichiers sauvegardées</h4>
                                <div *ngFor="let fileName of listFileLocation.listFileContratGestion[0]"
                                    class="--grey --sm-txt">
                                    <a href="{{this.url_basic}}{{this.idBail}}{{this.constants.PATH_FILE_LOCATION.BAIL}}{{ fileName }}" target="_blank">
                                        <i class=" ml-20 mr-3 fas fa-1x fa-file --width-10 --line-height-40"></i>
                                        {{ fileName }}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="--flex --flex-wrap">
                                <input type="file" name="fileContratGestion" id="fileContratGestion"
                                    class="input-file --hidden --absolute --width-250" multiple
                                    (change)="onFileChange($event,'contratGestion')" accept=".pdf" />
                                <label for="fileContratGestion"
                                    class="--white --sm-txt --bg-purple --border-1-solid --bd-purple --width-200 --center-txt --line-height-40">
                                    <span class="ml-3  --line-height-40"><i
                                            ngClass="{{f.fileContratGestion.value.length > 0 ? 'fa-check' : 'fa-upload' }}"
                                            class="fas"></i></span>
                                    <span class="ml-3">
                                        {{
                                        f.fileContratGestion.value.length > 0 ? f.fileContratGestion.value.length +
                                        " ficher(s) ajouté(s)" : "Ajouter vos fichiers"
                                        }}
                                    </span>
                                </label>
                                <i class="ml-5 fas fa-3x fa-window-close --red --center-txt --width-50 --line-height-40"
                                    (click)="onDeleteFile('contratGestion')"
                                    [ngClass]="{ '--hidden': f.fileContratGestion.value.length <= 0 }"></i>
                            </div>
                            <div *ngIf="f.fileContratGestion.value.length > 0" class="mt-20">
                                <h4 class="mb-10">Liste des fichiers</h4>
                                <div *ngFor="let fileName of listFileNameContratGestion" class="--grey --sm-txt">
                                    <i class="ml-20 mr-3 fas fa-1x fa-file --width-10 --line-height-40"></i>
                                    {{ fileName }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="--flex --flex-wrap --justify-content-space-between --border-radius-5 --border-1-solid mt-20 p-40">
                        <div class="--width-400">
                            <h4 class="--underline-txt --purple mb-20">Diagnostique énergétique</h4>
                            <div *ngIf="listFileLocation.listFileDiagEnergie.length > 0" class="mt-20">
                                <h4 class="mb-10">Liste des fichiers sauvegardées</h4>
                                <div *ngFor="let fileName of listFileLocation.listFileDiagEnergie[0]"
                                    class="--grey --sm-txt">
                                    <a href="{{this.url_basic}}{{this.idBail}}{{this.constants.PATH_FILE_LOCATION.BAIL}}{{ fileName }}" target="_blank">
                                        <i class=" ml-20 mr-3 fas fa-1x fa-file --width-10 --line-height-40"></i>
                                        {{ fileName }}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="--flex --flex-wrap">
                                <input type="file" name="fileDiagEnergie" id="fileDiagEnergie"
                                    class="input-file --hidden --absolute --width-250" multiple
                                    (change)="onFileChange($event,'diagEnergie')" accept=".pdf" />
                                <label for="fileDiagEnergie"
                                    class="--white --sm-txt --bg-purple --border-1-solid --bd-purple --width-200 --center-txt --line-height-40">
                                    <span class="ml-3  --line-height-40"><i
                                            ngClass="{{f.fileDiagEnergie.value.length > 0 ? 'fa-check' : 'fa-upload' }}"
                                            class="fas"></i></span>
                                    <span class="ml-3">
                                        {{
                                        f.fileDiagEnergie.value.length > 0 ? f.fileDiagEnergie.value.length +
                                        " ficher(s) ajouté(s)" : "Ajouter vos fichiers"
                                        }}
                                    </span>
                                </label>
                                <i class="ml-5 fas fa-3x fa-window-close --red --center-txt --width-50 --line-height-40"
                                    (click)="onDeleteFile('diagEnergie')"
                                    [ngClass]="{ '--hidden': f.fileDiagEnergie.value.length <= 0 }"></i>
                            </div>
                            <div *ngIf="f.fileDiagEnergie.value.length > 0" class="mt-20">
                                <h4 class="mb-10">Liste des fichiers</h4>
                                <div *ngFor="let fileName of listFileNameDiagEnergie" class="--grey --sm-txt">
                                    <i class="ml-20 mr-3 fas fa-1x fa-file --width-10 --line-height-40"></i>
                                    {{ fileName }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="--flex --flex-wrap --justify-content-space-between --border-radius-5 --border-1-solid mt-20 p-40">
                        <div class="--width-400">
                            <h4 class="--underline-txt --purple mb-20">Autres justificatifs</h4>
                            <div *ngIf="listFileLocation.listFileAutre.length > 0" class="mt-20">
                                <h4 class="mb-10">Liste des fichiers sauvegardées</h4>
                                <div *ngFor="let fileName of listFileLocation.listFileAutre[0]" class="--grey --sm-txt">
                                    <a href="{{this.url_basic}}{{this.idBail}}{{this.constants.PATH_FILE_LOCATION.BAIL}}{{ fileName }}" target="_blank">
                                        <i class=" ml-20 mr-3 fas fa-1x fa-file --width-10 --line-height-40"></i>
                                        {{ fileName }}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="--flex --flex-wrap">
                                <input type="file" name="fileAutre" id="fileAutre"
                                    class="input-file --hidden --absolute --width-250" multiple
                                    (change)="onFileChange($event,'autre')" accept=".pdf" />
                                <label for="fileAutre"
                                    class="--white --sm-txt --bg-purple --border-1-solid --bd-purple --width-200 --center-txt --line-height-40">
                                    <span class="ml-3  --line-height-40"><i
                                            ngClass="{{f.fileAutre.value.length > 0 ? 'fa-check' : 'fa-upload' }}"
                                            class="fas"></i></span>
                                    <span class="ml-3">
                                        {{
                                        f.fileAutre.value.length > 0 ?
                                        f.fileAutre.value.length +
                                        " ficher(s) ajouté(s)" : "Ajouter vos fichiers"
                                        }}
                                    </span>
                                </label>
                                <i class="ml-5 fas fa-3x fa-window-close --red --center-txt --width-50 --line-height-40"
                                    (click)="onDeleteFile('autre')"
                                    [ngClass]="{ '--hidden': f.fileAutre.value.length <= 0 }"></i>
                            </div>
                            <div *ngIf="f.fileAutre.value.length > 0" class="mt-20">
                                <h4 class="mb-10">Liste des fichiers</h4>
                                <div *ngFor="let fileName of listFileNameAutre" class="--grey --sm-txt">
                                    <i class="ml-20 mr-3 fas fa-1x fa-file --width-10 --line-height-40"></i>
                                    {{ fileName }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mx-auto --width-full --center-txt mt-20">
                    <button type="button" class="--secondary-btn" (click)="onSubmit()">
                        Enregistrer les modifications
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>