<div class="--bg-white p-40 pt-40 --border-radius-5 meubles">
	<input type="checkbox" class="dropdown" id="meubles" />
	<div class="--width-full">
		<label for="meubles" class="dropdown-label --flex --justify-content-space-between">
			<h2 [style]="(!submitted || !form.valid) ? 'cursor: pointer;' : 'cursor: not-allowed'">1 - Meubles</h2>
			<i *ngIf="submitted && form.valid" (click)="editForm()" class="fas fa-edit" style="cursor: pointer;"> </i>
		</label>
	</div>
	<form *ngIf="form" [formGroup]="form" class="dropdown-item meublesItem">
		<div class="--bold-txt mt-20">
			Chaises (séjour)
		</div>
		<div formGroupName="chaisesSejour" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.chaisesSejour.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.chaisesSejour.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.chaisesSejour.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.chaisesSejour.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Chaises (chambres)
		</div>
		<div formGroupName="chaisesChambres" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.chaisesChambres.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.chaisesChambres.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.chaisesChambres.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.chaisesChambres.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Chaises (cuisine)
		</div>
		<div formGroupName="chaisesCuisine" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.chaisesCuisine.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.chaisesCuisine.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.chaisesCuisine.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.chaisesCuisine.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Chaises (autres)
		</div>
		<div formGroupName="chaisesAutres" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.chaisesAutres.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.chaisesAutres.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.chaisesAutres.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.chaisesAutres.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Tabourets
		</div>
		<div formGroupName="tabourets" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.tabourets.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.tabourets.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.tabourets.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.tabourets.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Fauteuils
		</div>
		<div formGroupName="fauteuils" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.fauteuils.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.fauteuils.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.fauteuils.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.fauteuils.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Canapés
		</div>
		<div formGroupName="canapes" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.canapes.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.canapes.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.canapes.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.canapes.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Tables (séjour)
		</div>
		<div formGroupName="tablesSejour" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.tablesSejour.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.tablesSejour.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.tablesSejour.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.tablesSejour.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Tables (chambres)
		</div>
		<div formGroupName="tablesChambres" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.tablesChambres.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.tablesChambres.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.tablesChambres.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.tablesChambres.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Tables (cuisine)
		</div>
		<div formGroupName="tablesCuisine" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.tablesCuisine.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.tablesCuisine.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.tablesCuisine.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.tablesCuisine.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Tables de nuit
		</div>
		<div formGroupName="tablesNuit" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.tablesNuit.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.tablesNuit.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.tablesNuit.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.tablesNuit.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Tables (autres)
		</div>
		<div formGroupName="tablesAutres" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.tablesAutres.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.tablesAutres.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.tablesAutres.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.tablesAutres.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Bureaux
		</div>
		<div formGroupName="bureaux" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.bureaux.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.bureaux.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.bureaux.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.bureaux.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Commodes
		</div>
		<div formGroupName="commodes" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.commodes.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.commodes.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.commodes.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.commodes.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Armoires
		</div>
		<div formGroupName="armoires" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.armoires.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.armoires.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.armoires.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.armoires.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Buffets
		</div>
		<div formGroupName="buffets" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.buffets.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.buffets.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.buffets.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.buffets.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Lits simples
		</div>
		<div formGroupName="litsSimples" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.litsSimples.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.litsSimples.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.litsSimples.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.litsSimples.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Lits doubles
		</div>
		<div formGroupName="litsDoubles" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.litsDoubles.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.litsDoubles.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.litsDoubles.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.litsDoubles.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Placards
		</div>
		<div formGroupName="placards" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.placards.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.placards.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.placards.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.placards.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Lustres/plafonniers
		</div>
		<div formGroupName="lustresPlafonniers" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.lustresPlafonniers.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.lustresPlafonniers.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.lustresPlafonniers.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.lustresPlafonniers.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Lampes/appliques
		</div>
		<div formGroupName="lampesAppliques" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.lampesAppliques.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.lampesAppliques.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.lampesAppliques.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.lampesAppliques.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<button type="button" class="--primary-btn" (click)="onSubmit()">Valider l'électroménager</button>
	</form>
</div>