<div class="_container --bg-light-grey py-100 --relative">
	<div class="_row ">
		<div class="_col">
			<div class="--bg-white p-40 pt-60 --border-radius-5">
				<h1 class="--purple">Contrat de location ou de colocation de logement vide</h1>
				<h6>
					(Soumis au titre Ier de la loi du 6 juillet 1989 tendant à améliorer les rapports locatifs et
					portant
					modification de la loi n° 86-1290 du 23 décembre 1986)
				</h6>

				<h2 class="my-20">I. Désignation des parties</h2>

				<p>Le présent contrat est conclu entre les soussignés :</p>

				<form *ngIf="form" [formGroup]="form" class="my-20">
					<div class="my-10">
						<label for="bailleurTitre">Titre</label>
						<select formControlName="bailleurTitre" id="bailleurTitre" name="bailleurTitre"
							class="form-field"
							[ngClass]="{ 'error': submitted && form.controls.bailleurTitre.invalid }">
							<option [ngValue]="civilites.MONSIEUR">Monsieur</option>
							<option [ngValue]="civilites.MADAME">Madame</option>
						</select>
						<span class="--sm-txt --red --block mt-5"
							*ngIf="submitted && form.controls.bailleurTitre.invalid">Le champ est invalide</span>
					</div>

					<div class="field-group">
						<div class="my-10 mr-10">
							<label for="bailleurNom">Nom</label>
							<input formControlName="bailleurNom" type="text" id="bailleurNom" name="bailleurNom"
								class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.bailleurNom.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.bailleurNom.invalid">Le champ est invalide</span>
						</div>

						<div class="my-10">
							<label for="bailleurPrenom">Prénom</label>
							<input formControlName="bailleurPrenom" type="text" id="bailleurPrenom"
								name="bailleurPrenom" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.bailleurPrenom.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.bailleurPrenom.invalid">Le champ est invalide</span>
						</div>
					</div>

					<div class="field-group">
						<div class="my-10 mr-10">
							<label for="bailleurDateNaissance">Né(e) le</label>
							<input formControlName="bailleurDateNaissance" type="date" id="bailleurDateNaissance"
								name="bailleurDateNaissance" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.bailleurDateNaissance.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.bailleurDateNaissance.invalid">Le champ est
								invalide</span>
						</div>
						<div class="my-10">
							<label for="bailleurLieuNaissance">À</label>
							<input formControlName="bailleurLieuNaissance" type="text" id="bailleurLieuNaissance"
								name="bailleurLieuNaissance" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.bailleurLieuNaissance.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.bailleurLieuNaissance.invalid">Le champ est
								invalide</span>
						</div>
					</div>

					<div class="field-group">
						<div class="my-10 mr-10">
							<label for="bailleurAdresse">Demeurant</label>
							<input formControlName="bailleurAdresse" type="text" id="bailleurAdresse"
								name="bailleurAdresse" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.bailleurAdresse.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.bailleurAdresse.invalid">Le champ est invalide</span>
						</div>
						<div class="my-10 mr-10">
							<label for="bailleurCodePostal">Code postal</label>
							<input formControlName="bailleurCodePostal" type="text" id="bailleurCodePostal"
								name="bailleurCodePostal" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.bailleurCodePostal.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.bailleurCodePostal.invalid">Le champ est
								invalide</span>
						</div>
						<div class="my-10">
							<label for="bailleurVille">Ville</label>
							<input formControlName="bailleurVille" type="text" id="bailleurVille" name="bailleurVille"
								class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.bailleurVille.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.bailleurVille.invalid">Le champ est invalide</span>
						</div>
					</div>

					<p class="mt-20 mb-10">CI-APRÈS DÉNOMMÉ LE BAILLEUR d'une part,</p>

					<div class="my-10">
						<label for="locataireTitre">Titre</label>
						<select formControlName="locataireTitre" id="locataireTitre" name="locataireTitre"
							class="form-field"
							[ngClass]="{ 'error': submitted && form.controls.locataireTitre.invalid }">
							<option [ngValue]="civilites.MONSIEUR">Monsieur</option>
							<option [ngValue]="civilites.MADAME">Madame</option>
						</select>
						<span class="--sm-txt --red --block mt-5"
							*ngIf="submitted && form.controls.locataireTitre.invalid">Le champ est invalide</span>
					</div>

					<div class="field-group">
						<div class="my-10 mr-10">
							<label for="locataireNom">Nom</label>
							<input formControlName="locataireNom" type="text" id="locataireNom" name="locataireNom"
								class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.locataireNom.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.locataireNom.invalid">Le champ est invalide</span>
						</div>

						<div class="my-10">
							<label for="locatairePrenom">Prénom</label>
							<input formControlName="locatairePrenom" type="text" id="locatairePrenom"
								name="locatairePrenom" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.locatairePrenom.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.locatairePrenom.invalid">Le champ est invalide</span>
						</div>
					</div>

					<div class="field-group">
						<div class="my-10 mr-10">
							<label for="locataireDateNaissance">Né(e) le</label>
							<input formControlName="locataireDateNaissance" type="date" id="locataireDateNaissance"
								name="locataireDateNaissance" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.locataireDateNaissance.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.locataireDateNaissance.invalid">Le champ est
								invalide</span>
						</div>
						<div class="my-10">
							<label for="locataireLieuNaissance">À</label>
							<input formControlName="locataireLieuNaissance" type="text" id="locataireLieuNaissance"
								name="locataireLieuNaissance" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.locataireLieuNaissance.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.locataireLieuNaissance.invalid">Le champ est
								invalide</span>
						</div>
					</div>

					<div class="field-group">
						<div class="my-10 mr-10">
							<label for="locataireAdresse">Demeurant</label>
							<input formControlName="locataireAdresse" type="text" id="locataireAdresse"
								name="locataireAdresse" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.locataireAdresse.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.locataireAdresse.invalid">Le champ est invalide</span>
						</div>
						<div class="my-10 mr-10">
							<label for="locataireCodePostal">Code postal</label>
							<input formControlName="locataireCodePostal" type="text" id="locataireCodePostal"
								name="locataireCodePostal" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.locataireCodePostal.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.locataireCodePostal.invalid">Le champ est
								invalide</span>
						</div>
						<div class="my-10">
							<label for="locataireVille">Ville</label>
							<input formControlName="locataireVille" type="text" id="locataireVille"
								name="locataireVille" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.locataireVille.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.locataireVille.invalid">Le champ est invalide</span>
						</div>
					</div>

					<p class="mt-20 mb-10">
						CI-APRÈS DÉNOMMÉ LE LOCATAIRE d'autre part,<br />
						Il a été convenu ce qui suit,
					</p>
				</form>
				<div class="--center-txt my-50">
					<button type="button" class="--secondary-btn-outlined"
						routerLink="/admin/creation-bail/choix-parties-bien">Précédent</button>
					<button type="button" class="--secondary-btn" (click)="onSubmit()">Suivant</button>
				</div>
			</div>
		</div>
	</div>
</div>
