@include sm-only {
    .nav {
        z-index: 5;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #9f3e91;
        .active {
            color: white;
        }
        .nav-container {
            align-items: flex-start;
            justify-content: space-between;
            margin-right: 0;
            border: 1px solid white;
            div {
                width: 100%;
                padding: 3px;
                text-align: center;
                background-color: #9f3e91;
                a:hover {
                    color: white;
                }
                a:focus {
                    color: white;
                }
            }
        }
    }
}

@include md-only {
    .nav {
        z-index: 5;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #9f3e91;
        .active {
            color: white;
        }
        .nav-container {
            align-items: flex-start;
            justify-content: space-around;
            margin-right: 0;
            border-bottom: 1px solid white;
            border-top: 1px solid white;
            div {
                padding: 50px 2px;
                background-color: #9f3e91;
                a:hover {
                    color: white;
                }
                a:focus {
                    color: white;
                }
            }
        }
    }
}
