<div class="_container --width-full --relative --z-index-5">
  <div class="_row --width-full --bg-white">
    <div class="header-nav --flex --width-full --bd-purple --border-b-1-solid --align-items-center --justify-content-space-between">
      <a class="--flex --align-items-center p-15 --black" routerLink="/connexion">
        <div class="--md-square-img mx-20">
          <img src="{{constants.IMAGE_URL}}logo.png" />
        </div>
        <div class="--inline-block --lg-txt">
          {{constants.SITE_NAME}}
        </div>
      </a>
      <app-nav></app-nav>
    </div>
  </div>
</div>