<div class="_container --bg-light-grey py-100 --relative">
	<div class="_row ">
		<div class="_col">
			<div class="--bg-white p-40 pt-60 --border-radius-5">
				<h1 class="--purple">Etat des équipements</h1>
			</div>
			<div class="mt-20">
				<app-meubles></app-meubles>
			</div>
			<div class="mt-20">
				<app-electromenager></app-electromenager>
			</div>
			<div class="mt-20">
				<app-equipement-general></app-equipement-general>
			</div>
			<div class="mt-20">
				<button type="button" class="--secondary-btn" (click)="onSubmit()">TOUT CONFIRMER</button>
				<button type="button" class="--secondary-btn-outlined" [routerLink]="'/admin/creation-etat-des-lieux/pieces'">Précédent</button>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && error">Vous devez valider les trois parties pour confirmer.</span>
			</div>
		</div>
	</div>
</div>
