<div *ngIf="user" class="_container py-100 --bg-light-grey">
  <div class="_row">
    <div class="_col --z-index-4">
      <div class="--relatives --border-radius-10 --width-full --height-100">
        <div class="--absolute --white ml-10 mt-25 p-15 --bold-txt --border-radius-10 --z-index-4 --bg-purple">
          {{user.role.label}}</div>
        <img class="--border-radius-10" src="{{constants.IMAGE_URL}}user-profile.jpg" />
      </div>
      <form [formGroup]="profileForm" class="mx-auto">

        <div class="--width-full mt-40 --flex --flex-wrap --justify-content-space-between --align-items-stretch">
          <div class="--width-full --bg-white --border-radius-5 p-40">
            <h2 class="mb-20">Informations principales</h2>

            <div class="field-group">
              <div class="my-10 mr-10">
                <label for="civilite">Civilité<span class="--red">*</span></label>
                <select formControlName="civilite" id="civilite" name="civilite" class="form-field"
                  [ngClass]="{ 'error': submitted && profileForm.controls.civilite.invalid }">
                  <option [selected]="(user.civilite === 'Monsieur') ? 'selected' : '' " value="Monsieur">Monsieur
                  </option>
                  <option [selected]="(user.civilite === 'Madame') ? 'selected' : '' " value="Madame">Madame</option>
                </select>
                <span class="--sm-txt --red --block mt-5" *ngIf="submitted && profileForm.controls.civilite.invalid">
                  Le champ est invalide
                </span>
              </div>
              <div class="my-10 mr-10">
                <label for="prenom">Prénom <span class="--red">*</span></label>
                <input formControlName="prenom" type="text" id="prenom" name="prenom" class="form-field"
                  [ngClass]="{ 'error': submitted && profileForm.controls.prenom.invalid }" />
                <span class="--sm-txt --red --block mt-5" *ngIf=" submitted && profileForm.controls.prenom.invalid">Le
                  champ est invalide</span>
              </div>
              <div class="my-10 mr-10">
                <label for="nom">Nom <span class="--red">*</span></label>
                <input formControlName="nom" type="text" id="nom" name="nom" class="form-field"
                  [ngClass]="{ 'error': submitted && profileForm.controls.nom.invalid }" />
                <span class="--sm-txt --red --block mt-5" *ngIf="submitted && profileForm.controls.nom.invalid">Le
                  champ est invalide</span>
              </div>
            </div>
            <div class="field-group">
              <div class="my-10 mr-10">
                <label for="mail">Mail <span class="--red">*</span></label>
                <input formControlName="mail" type="text" id="mail" name="mail" class="form-field"
                  [ngClass]="{ 'error': submitted && profileForm.controls.mail.invalid }" />
                <span class="--sm-txt --red --block mt-5" *ngIf="submitted && profileForm.controls.mail.invalid">Le
                  champ est invalide</span>
              </div>
              <div class="my-10 mr-10">
                <label for="tel">Téléphone <span class="--red">*</span></label>
                <input formControlName="numeroTelephone" type="text" id="numeroTelephone" name="numeroTelephone"
                  class="form-field"
                  [ngClass]="{ 'error': submitted && profileForm.controls.numeroTelephone.invalid }" />
                <span class="--sm-txt --red --block mt-5"
                  *ngIf="submitted && profileForm.controls.numeroTelephone.invalid">Le
                  champ est invalide</span>
              </div>
            </div>
          </div>

          <div class="mt-40 --width-full --bg-white --border-radius-5 p-40">
            <h2 class="mb-20">Informations complémentaires</h2>
            <div class="field-group">
              <div class="my-10 mr-10">
                <label for="birthDate">Date de naissance</label>
                <input formControlName="dateNaissance" type="date" id="dateNaissance" name="dateNaissance"
                  class="form-field" [ngClass]="{ 'error': submitted && profileForm.controls.dateNaissance.invalid }" />
                <span class="--sm-txt --red --block mt-5"
                  *ngIf="submitted && profileForm.controls.dateNaissance.invalid">Le champ
                  est invalide</span>
              </div>
              <div class="my-10 mr-10">
                <label for="villeNaissance">Ville de naissance</label>
                <input formControlName="villeNaissance" type="text" id="villeNaissance" name="villeNaissance"
                  class="form-field"
                  [ngClass]="{ 'error': submitted && profileForm.controls.villeNaissance.invalid }" />
                <span class="--sm-txt --red --block mt-5"
                  *ngIf="submitted && profileForm.controls.villeNaissance.invalid">Le
                  champ est invalide</span>
              </div>
            </div>

            <div class="field-group">
              <div class="my-10 mr-10">
                <label for="num">Numéro</label>
                <input formControlName="numero" type="text" id="numero" name="numero" class="form-field"
                  [ngClass]="{ 'error': submitted && profileForm.controls.numero.invalid }" />
                <span class="--sm-txt --red --block mt-5" *ngIf="submitted && profileForm.controls.numero.invalid">Le
                  champ est invalide</span>
              </div>
              <div class="my-10 mr-10">
                <label for="rue">Rue</label>
                <input formControlName="rue" type="text" id="rue" name="rue" class="form-field"
                  [ngClass]="{ 'error': submitted && profileForm.controls.rue.invalid }" />
                <span class="--sm-txt --red --block mt-5" *ngIf="submitted && profileForm.controls.rue.invalid">Le
                  champ est invalide</span>
              </div>
              <div class="my-10 mr-10">
                <label for="complement">Complément</label>
                <input formControlName="complement" type="text" id="complement" name="complement" class="form-field"
                  [ngClass]="{ 'error': submitted && profileForm.controls.complement.invalid }" />
                <span class="--sm-txt --red --block mt-5"
                  *ngIf="submitted && profileForm.controls.complement.invalid">Le
                  champ est invalide</span>
              </div>

            </div>

            <div class="field-group">
              <div class="my-10 mr-10">
                <label for="codePostal">Code postal</label>
                <input formControlName="codePostal" type="text" id="codePostal" name="codePostal" class="form-field"
                  [ngClass]="{ 'error': submitted && profileForm.controls.codePostal.invalid }" />
                <span class="--sm-txt --red --block mt-5"
                  *ngIf="submitted && profileForm.controls.codePostal.invalid">Le champ
                  est invalide</span>
              </div>
              <div class="my-10 mr-10">
                <label for="ville">Ville</label>
                <input formControlName="ville" type="text" id="ville" name="ville" class="form-field"
                  [ngClass]="{ 'error': submitted && profileForm.controls.ville.invalid }" />
                <span class="--sm-txt --red --block mt-5" *ngIf="submitted && profileForm.controls.ville.invalid">Le
                  champ est
                  invalide</span>
              </div>
              <div class="my-10 mr-10">
                <label for="pays">Pays</label>
                <input formControlName="pays" type="text" id="pays" name="pays" class="form-field"
                  [ngClass]="{ 'error': submitted && profileForm.controls.pays.invalid }" />
                <span class="--sm-txt --red --block mt-5" *ngIf="submitted && profileForm.controls.pays.invalid">Le
                  champ est invalide</span>
              </div>
            </div>

          </div>
        </div>

        <div class="mx-auto --width-full --center-txt mt-20">
          <button type="button" class="--secondary-btn" (click)="onSubmit()">Enregistrer les modifications</button>
        </div>
      </form>
    </div>
  </div>
</div>