<div class="_container --bg-light-grey py-100 --relative">
	<div class="_row">
		<div class="_col">
			<div class="--bg-white p-40 pt-60 --border-radius-5">

				<h1 class="--purple">Contrat de location ou de colocation de logement vide</h1>
				<h6>(Soumis au titre Ier de la loi du 6 juillet 1989 tendant à améliorer les rapports locatifs et
					portant
					modification de la loi n° 86-1290 du 23 décembre 1986)</h6>

				<h2 class="my-20">IV. Conditions financières</h2>

				<p>Les parties conviennent des conditions financières suivantes :</p>

				<h2 class="my-20">A. Loyer</h2>

				<form [formGroup]="form" class="my-20">
					<p>a) Loyer initial :</p>

					<div class="field-group">
						<div class="my-10 mr-10">
							<label for="loyerMensuel">Loyer mensuel</label>
							<input formControlName="loyerMensuel" type="text" id="loyerMensuel" name="loyerMensuel"
								class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.loyerMensuel.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.loyerMensuel.invalid">Le champ est invalide</span>
						</div>
						<div class="my-10 mr-10">
							<label for="loyerHorsCharges">Loyer (hors charges)</label>
							<input formControlName="loyerHorsCharges" type="text" id="loyerHorsCharges"
								name="loyerHorsCharges" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.loyerHorsCharges.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.loyerHorsCharges.invalid">Le champ est invalide</span>
						</div>
						<div class="my-10">
							<label for="chargesRecuperables">Charges récupérables</label>
							<input formControlName="chargesRecuperables" type="text" id="chargesRecuperables"
								name="chargesRecuperables" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.chargesRecuperables.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.chargesRecuperables.invalid">Le champ est
								invalide</span>
						</div>
					</div>

					<p>b) Le cas échéant, modalités particulières de fixation initiale du loyer applicables dans les
						zones tendues</p>

					<div class="field-group">
						<div class="my-10 mr-10 --flex --nowrap --justify-content-flex-start">
							<input formControlName="isMontantMaximumAnnuel" type="checkbox" id="isMontantMaximumAnnuel"
								name="isMontantMaximumAnnuel"
								[ngClass]="{ 'error': submitted && form.controls.isMontantMaximumAnnuel.invalid }" />
							<label for="isMontantMaximumAnnuel">Le loyer du logement objet du présent contrat est soumis
								au décret fixant annuellement le montant maximum d’évolution des loyers à la
								relocation</label>
						</div>
					</div>

					<div class="field-group">
						<div class="my-10 mr-10 --flex --nowrap --justify-content-flex-start">
							<input formControlName="isLoyerReference" type="checkbox" id="isLoyerReference"
								name="isLoyerReference"
								[ngClass]="{ 'error': submitted && form.controls.isLoyerReference.invalid }" />
							<label for="isLoyerReference">Le loyer du logement objet du présent contrat est soumis au
								loyer de référence majoré fixé par arrêté préfectoral</label>
						</div>
					</div>

					<div class="field-group">
						<div class="my-10">
							<label for="loyerReference">Loyer de référence en €/m²</label>
							<input formControlName="loyerReference" type="text" id="loyerReference"
								name="loyerReference" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.loyerReference.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.loyerReference.invalid">Le champ est invalide</span>
						</div>
					</div>

					<div class="field-group">
						<div class="my-10">
							<label for="periodicite">Date ou périodicité de révision</label>
							<input formControlName="periodicite" type="text" id="periodicite" name="periodicite"
								class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.periodicite.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.periodicite.invalid">Le champ est invalide</span>
						</div>
					</div>

					<p>c) Informations relatives au loyer du dernier locataire</p>

					<div class="field-group">
						<div class="my-10">
							<label for="loyerAncienLocataire">Montant du dernier loyer acquitté par le précédent
								locataire</label>
							<input formControlName="loyerAncienLocataire" type="text" id="loyerAncienLocataire"
								name="loyerAncienLocataire" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.loyerAncienLocataire.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.loyerAncienLocataire.invalid">Le champ est
								invalide</span>
						</div>
					</div>

					<h2 class="my-20">B. Charges récupérables</h2>

					<div class="field-group">
						<div class="my-10">
							<label for="modaliteReglementChargesRecuperables">Modalité de règlement des charges
								récupérables</label>
							<select formControlName="modaliteReglementChargesRecuperables"
								id="modaliteReglementChargesRecuperables" name="modaliteReglementChargesRecuperables"
								class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.modaliteReglementChargesRecuperables.invalid }">
								<option [ngValue]="modalitesReglementChargesRecuperables.PROVISIONS_SUR_CHARGES">Provisions sur charges avec régularisation annuelle
								</option>
								<option [ngValue]="modalitesReglementChargesRecuperables.PAIEMENT_PERIODIQUE">Paiement périodique des charges sans provision
								</option>
								<option [ngValue]="modalitesReglementChargesRecuperables.FORFAIT_CHARGE">[En cas de colocation seulement] Forfait de charges
								</option>
							</select>
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.modaliteReglementChargesRecuperables.invalid">Le champ
								est invalide</span>
						</div>
					</div>

					<div class="field-group">
						<div class="my-10">
							<label for="montantChargesRecuperables">Le cas échéant, montant des provisions sur charges
								ou, en cas de colocation, du forfait de charge</label>
							<input formControlName="montantChargesRecuperables" type="text"
								id="montantChargesRecuperables" name="montantChargesRecuperables" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.montantChargesRecuperables.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.montantChargesRecuperables.invalid">Le champ est
								invalide</span>
						</div>
					</div>

					<h2 class="my-20">C. Le cas échéant, en cas de colocation, souscription par le bailleur d’une
						assurance pour le compte des colocataires</h2>

					<div class="field-group">
						<div class="my-10 mr-10 --flex --nowrap --justify-content-flex-start">
							<input formControlName="souscriptionAssuranceParBailleur" type="checkbox"
								id="souscriptionAssuranceParBailleur" name="souscriptionAssuranceParBailleur"
								(change)="changeAssuranceParBailleur()"
								[ngClass]="{ 'error': submitted && form.controls.souscriptionAssuranceParBailleur.invalid }" />
							<label for="souscriptionAssuranceParBailleur">Souscription par le bailleur d’une assurance
								pour le compte des colocataires</label>
						</div>
					</div>

					<div *ngIf="form.controls.souscriptionAssuranceParBailleur.value">
						<div class="field-group">
							<div class="my-10">
								<label for="montantRecuperableAssurance">Montant total annuel récupérable au titre de
									l’assurance pour compte des colocataires</label>
								<input formControlName="montantRecuperableAssurance" type="text"
									id="montantRecuperableAssurance" name="montantRecuperableAssurance"
									class="form-field"
									[ngClass]="{ 'error': submitted && form.controls.montantRecuperableAssurance.invalid }" />
								<span class="--sm-txt --red --block mt-5"
									*ngIf="submitted && form.controls.montantRecuperableAssurance.invalid">Le champ est
									invalide</span>
							</div>
						</div>
						<div class="field-group">
							<div class="my-10">
								<label for="montantRecuperableAssuranceDouzieme">Montant récupérable par
									douzième</label>
								<input formControlName="montantRecuperableAssuranceDouzieme" type="text"
									id="montantRecuperableAssuranceDouzieme" name="montantRecuperableAssuranceDouzieme"
									class="form-field"
									[ngClass]="{ 'error': submitted && form.controls.montantRecuperableAssuranceDouzieme.invalid }" />
								<span class="--sm-txt --red --block mt-5"
									*ngIf="submitted && form.controls.montantRecuperableAssuranceDouzieme.invalid">Le
									champ est invalide</span>
							</div>
						</div>
					</div>

					<h2 class="my-20">D. Modalités de paiement</h2>

					<div class="field-group">
						<div class="my-10">
							<label for="periodicitePaiementLoyer">Périodicité du paiement</label>
							<input formControlName="periodicitePaiementLoyer" type="text" id="periodicitePaiementLoyer"
								name="periodicitePaiementLoyer" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.periodicitePaiementLoyer.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.periodicitePaiementLoyer.invalid">Le champ est
								invalide</span>
						</div>
					</div>

					<div class="field-group">
						<div class="my-10">
							<label for="echeancePaiement">Échéance</label>
							<select formControlName="echeancePaiement" id="echeancePaiement" name="echeancePaiement"
								class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.echeancePaiement.invalid }">
								<option [ngValue]="echeancesPaiement.ECHOIR">A échoir</option>
								<option [ngValue]="echeancesPaiement.ECHU">A terme échu</option>
							</select>
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.echeancePaiement.invalid">Le champ est invalide</span>
						</div>
					</div>

					<div class="field-group">
						<div class="my-10">
							<label for="datePeriodePaiement">Date ou période de paiement</label>
							<input formControlName="datePeriodePaiement" type="text" id="datePeriodePaiement"
								name="datePeriodePaiement" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.datePeriodePaiement.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.datePeriodePaiement.invalid">Le champ est
								invalide</span>
						</div>
					</div>

					<div class="field-group">
						<div class="my-10">
							<label for="montantPremiereEcheance">Montant total dû à la première échéance de paiement
								pour une période complète de location</label>
							<input formControlName="montantPremiereEcheance" type="text" id="montantPremiereEcheance"
								name="montantPremiereEcheance" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.montantPremiereEcheance.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.montantPremiereEcheance.invalid">Le champ est
								invalide</span>
						</div>
					</div>
				</form>
				<div class="--center-txt my-50">
					<button type="button" class="--secondary-btn-outlined"
						routerLink="/admin/creation-bail/prise-effet-contrat">Précédent</button>
					<button type="button" class="--secondary-btn" (click)="onSubmit()">Suivant</button>
				</div>
			</div>
		</div>
	</div>
</div>
