<div *ngIf="modalProperties" class="container_modal">
  <div class="content_modal">
    <b [ngClass]="getColor()">{{ modalProperties.title }}</b>
    <div class="modal">
      <p>{{ modalProperties.text }}</p>
      <div class="modal_btn">
        <button type="button" *ngIf="modalProperties.type !== modalType.CONFIRMATION" (click)="modalProperties.close()"
          class="--primary-btn" [ngClass]="getBgColor()">Fermer</button>
        <button type="button" *ngIf="modalProperties.type === modalType.CONFIRMATION"
          (click)="action(modalProperties.cancel())" class="--primary-btn">Annuler</button>
        <button type="button" *ngIf="modalProperties.type === modalType.CONFIRMATION"
          (click)="action(modalProperties.confirm())" class="--secondary-btn-outlined">Confirmer</button>
      </div>
    </div>
  </div>
</div>