<div class="_container --bg-light-grey py-100 --relative">
	<div class="_row ">
		<div class="_col">
			<div class="--bg-white p-40 pt-60 --border-radius-5">
				<h1 class="--purple">Signature des parties</h1>
				<p class="--justify-txt">
					L’état des lieux doit être effectué lors de la remise des clés. Le locataire peut cependant
					compléter l’état des lieux
					ultérieurement, à deux occasions :
				</p>
				<ul>
					<li>dans les 10 jours qui suivent l’établissement de l’état des lieux pour tout équipement
						concernant le logement</li>
					<li>pendant le premier mois de la période de chauffe concernant l’état des équipements de chauffage
					</li>
				</ul>
				<p class="--justify-txt">
					Il appartient au locataire de veiller à maintenir en l’état le logement qu’il occupe. A ce titre, il
					doit assurer l’entretien
					courant du logement et les menues réparations nécessaires.
				</p>
				<p class="--justify-txt">
					A défaut, et sauf s’il est prouvé que la dégradation est dûe à la vétusté du logement, à une
					malfaçon ou à un
					cas de force majeure, le bailleur peut retenir sur le dépôt de garantie les sommes correspondant aux
					réparations
					locatives qui n’ont pas été effectuées par le locataire, justificatifs à l’appui.
				</p>
				<div class="--flex --justify-content-center --center-txt mt-20">
					<div class="mr-20">
						<h4>Signature bailleur</h4>
						<canvas *ngIf="signing.bailleur" signature="signature" width="300" height="150" [clear]="clearMe.bailleur" [options]="{color: '#000', width: 1, blur: 0}" style="border: 1px solid black" (imgSrc)="srcChange($event, 'bailleur')"></canvas>
						<div *ngIf="!signing.bailleur">
							<img [src]="src.bailleur" style="width: 300px; height: 150px" />
							<p class="form-text">
								<i class="fas fa-check --green"></i> Bail signé côté bailleur
							</p>
						</div>
						<p *ngIf="signing.bailleur && src.bailleur.length > 0">
							<a (click)="clear('bailleur')" class="mr-10">Effacer</a>
							<a (click)="save('bailleur')">Enregistrer</a>
						</p>
					</div>
					<div>
						<h4>Signature locataire</h4>
						<canvas *ngIf="signing.locataire" signature="signature" width="300" height="150" [clear]="clearMe.locataire" [options]="{color: '#000', width: 1, blur: 0}" style="border: 1px solid black" (imgSrc)="srcChange($event, 'locataire')"></canvas>
						<div *ngIf="!signing.locataire">
							<img [src]="src.locataire" style="width: 300px; height: 150px" />
							<p class="form-text">
								<i class="fas fa-check --green"></i> Bail signé côté locataire
							</p>
						</div>
						<p *ngIf="signing.locataire && src.locataire.length > 0">
							<a (click)="clear('locataire')" class="mr-10">Effacer</a>
							<a (click)="save('locataire')">Enregistrer</a>
						</p>
					</div>
				</div>
				<div class="--center-txt my-50">
					<button type="button" class="--secondary-btn-outlined" (click)="previous()">Précédent</button>
					<button type="button" class="--secondary-btn" (click)="onSubmit()" [disabled]="signing.bailleur || signing.locataire">Terminer</button>
					<button type="button" class="--secondary-btn-outlined" (click)="genererBailPDF()" [disabled]="signing.bailleur || signing.locataire">Télécharger PDF</button>
				</div>
			</div>
		</div>
	</div>
</div>
