<div class="--bg-white p-40 pt-40 --border-radius-5 equipementGeneral">
	<input type="checkbox" class="dropdown" id="equipementGeneral" />
	<div class="--width-full">
		<label for="equipementGeneral" class="dropdown-label --flex --justify-content-space-between">
			<h2 [style]="(!submitted || !form.valid) ? 'cursor: pointer;' : 'cursor: not-allowed'">3 - Équipement général</h2>
			<i *ngIf="submitted && form.valid" (click)="editForm()" class="fas fa-edit" style="cursor: pointer;"> </i>
		</label>
	</div>
	<form *ngIf="form" [formGroup]="form" class="dropdown-item equipementGeneralItem">
		<div class="--bold-txt mt-20">
			Grandes assiettes
		</div>
		<div formGroupName="grandesAssiettes" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.grandesAssiettes.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.grandesAssiettes.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.grandesAssiettes.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.grandesAssiettes.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Assiettes à dessert
		</div>
		<div formGroupName="assiettesDessert" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.assiettesDessert.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.assiettesDessert.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.assiettesDessert.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.assiettesDessert.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Assiettes creuses
		</div>
		<div formGroupName="assiettesCreuses" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.assiettesCreuses.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.assiettesCreuses.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.assiettesCreuses.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.assiettesCreuses.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Autres assiettes
		</div>
		<div formGroupName="autresAssiettes" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.autresAssiettes.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.autresAssiettes.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.autresAssiettes.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.autresAssiettes.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Fourchettes
		</div>
		<div formGroupName="fourchettes" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.fourchettes.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.fourchettes.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.fourchettes.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.fourchettes.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Petites cuillères
		</div>
		<div formGroupName="petitesCuilleres" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.petitesCuilleres.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.petitesCuilleres.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.petitesCuilleres.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.petitesCuilleres.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Grandes cuillères
		</div>
		<div formGroupName="grandesCuilleres" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.grandesCuilleres.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.grandesCuilleres.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.grandesCuilleres.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.grandesCuilleres.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Couteaux de table
		</div>
		<div formGroupName="couteauxTable" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.couteauxTable.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.couteauxTable.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.couteauxTable.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.couteauxTable.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Couteaux de cuisine
		</div>
		<div formGroupName="couteauxCuisine" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.couteauxCuisine.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.couteauxCuisine.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.couteauxCuisine.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.couteauxCuisine.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Couteaux à pain
		</div>
		<div formGroupName="couteauxPain" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.couteauxPain.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.couteauxPain.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.couteauxPain.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.couteauxPain.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Verres à pied
		</div>
		<div formGroupName="verresPied" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.verresPied.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.verresPied.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.verresPied.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.verresPied.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Autres verres
		</div>
		<div formGroupName="autresVerres" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.autresVerres.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.autresVerres.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.autresVerres.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.autresVerres.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Bols
		</div>
		<div formGroupName="bols" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.bols.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.bols.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.bols.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.bols.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Tasses
		</div>
		<div formGroupName="tasses" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.tasses.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.tasses.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.tasses.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.tasses.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Soucoupes
		</div>
		<div formGroupName="soucoupes" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.soucoupes.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.soucoupes.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.soucoupes.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.soucoupes.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Couverts de service
		</div>
		<div formGroupName="couvertsService" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.couvertsService.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.couvertsService.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.couvertsService.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.couvertsService.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Tire-bouchon
		</div>
		<div formGroupName="tireBouchon" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.tireBouchon.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.tireBouchon.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.tireBouchon.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.tireBouchon.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Décapsuleur
		</div>
		<div formGroupName="decapsuleur" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.decapsuleur.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.decapsuleur.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.decapsuleur.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.decapsuleur.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Carafes
		</div>
		<div formGroupName="carafes" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.carafes.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.carafes.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.carafes.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.carafes.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Planches à découper
		</div>
		<div formGroupName="planchesDecouper" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.planchesDecouper.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.planchesDecouper.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.planchesDecouper.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.planchesDecouper.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Plats
		</div>
		<div formGroupName="plats" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.plats.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.plats.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.plats.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.plats.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Saladiers
		</div>
		<div formGroupName="saladiers" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.saladiers.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.saladiers.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.saladiers.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.saladiers.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Passoires
		</div>
		<div formGroupName="passoires" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.passoires.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.passoires.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.passoires.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.passoires.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Poêles
		</div>
		<div formGroupName="poeles" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.poeles.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.poeles.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.poeles.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.poeles.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Casseroles
		</div>
		<div formGroupName="casseroles" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.casseroles.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.casseroles.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.casseroles.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.casseroles.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Égouttoir
		</div>
		<div formGroupName="egouttoir" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.egouttoir.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.egouttoir.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.egouttoir.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.egouttoir.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Ouvre-boîtes
		</div>
		<div formGroupName="ouvreBoites" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.ouvreBoites.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.ouvreBoites.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.ouvreBoites.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.ouvreBoites.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Balais et balayettes
		</div>
		<div formGroupName="balaisBalayettes" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.balaisBalayettes.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.balaisBalayettes.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.balaisBalayettes.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.balaisBalayettes.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Pelles
		</div>
		<div formGroupName="pelles" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.pelles.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.pelles.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.pelles.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.pelles.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Seaux
		</div>
		<div formGroupName="seaux" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.seaux.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.seaux.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.seaux.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.seaux.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Torchons
		</div>
		<div formGroupName="torchons" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.torchons.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.torchons.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.torchons.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.torchons.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Matelas
		</div>
		<div formGroupName="matelas" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.matelas.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.matelas.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.matelas.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.matelas.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Traversins
		</div>
		<div formGroupName="traversins" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.traversins.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.traversins.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.traversins.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.traversins.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Taies de traversins
		</div>
		<div formGroupName="taiesTraversin" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.taiesTraversin.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.taiesTraversin.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.taiesTraversin.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.taiesTraversin.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Oreillers
		</div>
		<div formGroupName="oreillers" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.oreillers.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.oreillers.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.oreillers.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.oreillers.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Taies d'oreillers
		</div>
		<div formGroupName="taiesOreillers" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.taiesOreillers.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.taiesOreillers.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.taiesOreillers.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.taiesOreillers.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Draps du dessous
		</div>
		<div formGroupName="drapsDessous" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.drapsDessous.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.drapsDessous.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.drapsDessous.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.drapsDessous.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Draps
		</div>
		<div formGroupName="draps" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.draps.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.draps.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.draps.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.draps.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Couettes
		</div>
		<div formGroupName="couettes" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.couettes.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.couettes.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.couettes.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.couettes.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Housses de couettes
		</div>
		<div formGroupName="houssesCouettes" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.houssesCouettes.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.houssesCouettes.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.houssesCouettes.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.houssesCouettes.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Couvertures
		</div>
		<div formGroupName="couvertures" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.couvertures.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.couvertures.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.couvertures.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.couvertures.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Alaises
		</div>
		<div formGroupName="alaises" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.alaises.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.alaises.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.alaises.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.alaises.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Couvre-lits
		</div>
		<div formGroupName="couvreLits" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.couvreLits.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.couvreLits.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.couvreLits.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.couvreLits.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Peignoirs de bain
		</div>
		<div formGroupName="peignoirsBain" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.peignoirsBain.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.peignoirsBain.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.peignoirsBain.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.peignoirsBain.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Serviettes de bain
		</div>
		<div formGroupName="serviettesBain" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.serviettesBain.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.serviettesBain.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.serviettesBain.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.serviettesBain.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Serviettes de toilette
		</div>
		<div formGroupName="serviettesToilette" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.serviettesToilette.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.serviettesToilette.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.serviettesToilette.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.serviettesToilette.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Gants de toilette
		</div>
		<div formGroupName="gantsToilette" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.gantsToilette.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.gantsToilette.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.gantsToilette.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.gantsToilette.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Nappes
		</div>
		<div formGroupName="nappes" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.nappes.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.nappes.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.nappes.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.nappes.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Serviettes de table
		</div>
		<div formGroupName="serviettesTable" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.serviettesTable.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.serviettesTable.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.serviettesTable.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.serviettesTable.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Coussins
		</div>
		<div formGroupName="coussins" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.coussins.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.coussins.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.coussins.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.coussins.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<button type="button" class="--primary-btn" (click)="onSubmit()">Valider l'équipement général</button>
	</form>
</div>