<div class="_container --bg-light-grey py-100 --relative">
	<div class="_row">
		<div class="_col">
			<div class="--bg-white p-40 pt-60 --border-radius-5">
				<h1 class="--purple">Contrat de location ou de colocation de logement vide</h1>
				<h6>(Soumis au titre Ier de la loi du 6 juillet 1989 tendant à améliorer les rapports locatifs et
					portant
					modification de la loi n° 86-1290 du 23 décembre 1986)</h6>

				<h2 class="my-20">II. Objet du contrat</h2>

				<p>Le présent contrat a pour objet la location d'un logement ainsi déterminé :</p>

				<h2 class="my-20">A. Consistance du logement</h2>

				<form [formGroup]="form" class="my-20">
					<div class="field-group">
						<div class="my-10 mr-10">
							<label for="rue">Rue</label>
							<input formControlName="rue" type="text" id="rue" name="rue" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.rue.invalid }" />
							<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.rue.invalid">Le
								champ est invalide</span>
						</div>
						<div class="my-10 mr-10">
							<label for="codePostal">Code postal</label>
							<input formControlName="codePostal" type="text" id="codePostal" name="codePostal"
								class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.codePostal.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.codePostal.invalid">Le champ est invalide</span>
						</div>
						<div class="my-10">
							<label for="ville">Ville</label>
							<input formControlName="ville" type="text" id="ville" name="ville" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.ville.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.ville.invalid">Le champ est invalide</span>
						</div>
					</div>

					<div class="field-group">
						<div class="my-10">
							<label for="complementAdresse">Complément</label>
							<input formControlName="complementAdresse" type="text" id="complementAdresse"
								name="complementAdresse" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.complementAdresse.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.complementAdresse.invalid">Le champ est
								invalide</span>
						</div>
					</div>

					<div class="field-group">
						<div class="my-10">
							<label for="typeHabitat">Type d'habitat</label>
							<select formControlName="typeHabitat" id="typeHabitat" name="typeHabitat" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.typeHabitat.invalid }">
								<option *ngFor="let typeBien of typesBien | enumToObject | keyvalue" [ngValue]="typeBien.key">{{ typeBien.value }}</option>
							</select>
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.typeHabitat.invalid">Le champ est invalide</span>
						</div>
					</div>

					<div class="field-group">
						<div class="my-10 mr-10">
							<label for="surface">Surface</label>
							<input formControlName="surface" type="number" id="surface" name="surface"
								class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.surface.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.surface.invalid">Le champ est invalide</span>
						</div>
					</div>

					<div class="field-group">
						<div class="my-10 mr-10 --flex --nowrap --justify-content-flex-start">
							<input formControlName="meuble" type="checkbox" id="meuble" name="meuble"
								[ngClass]="{ 'error': submitted && form.controls.meuble.invalid }" />
							<label for="meuble">Meublé</label>
						</div>
					</div>

					<div class="field-group">
						<div class="my-10">
							<label for="regimeImmeuble">Régime juridique de l'immeuble</label>
							<select formControlName="regimeImmeuble" id="regimeImmeuble" name="regimeImmeuble"
								class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.regimeImmeuble.invalid }">
								<option *ngFor="let regimeJuridique of regimesJuridiques | enumToObject | keyvalue" [ngValue]="regimeJuridique.key">{{ regimeJuridique.value }}</option>
							</select>
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.regimeImmeuble.invalid">Le champ est invalide</span>
						</div>
					</div>

					<div class="field-group">
						<div class="my-10 mr-10">
							<label for="construction">Année de construction</label>
							<input formControlName="construction" type="number" id="construction" name="construction"
								class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.construction.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.construction.invalid">Le champ est invalide</span>
						</div>
					</div>

					<div class="field-group">
						<div class="my-10 mr-10">
							<label for="autresParties">Autres parties du logement</label>
							<input formControlName="autresParties" type="text" id="autresParties" name="autresParties"
								class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.autresParties.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.autresParties.invalid">Le champ est invalide</span>
						</div>
					</div>

					<div class="field-group">
						<div class="my-10 mr-10">
							<label for="equipements">Éléments d'équipement du logement</label>
							<input formControlName="equipements" type="text" id="equipements" name="equipements"
								class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.equipements.invalid }" />
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.equipements.invalid">Le champ est invalide</span>
						</div>
					</div>

					<h2 class="my-20">B. Destination des locaux</h2>

					<div class="field-group">
						<div class="my-10">
							<select formControlName="usageLocaux" id="usageLocaux" name="usageLocaux" class="form-field"
								[ngClass]="{ 'error': submitted && form.controls.usageLocaux.invalid }">
								<option *ngFor="let usageLocaux of usagesLocaux | enumToObject | keyvalue" [ngValue]="usageLocaux.key">{{ usageLocaux.value }}</option>
							</select>
							<span class="--sm-txt --red --block mt-5"
								*ngIf="submitted && form.controls.usageLocaux.invalid">Le champ est invalide</span>
						</div>
					</div>

					<h2 class="my-20">C. Énumération des locaux, parties, équipements et accessoires de l’immeuble à
						usage commun</h2>

					<div class="field-group">
						<div class="my-10 mr-10 --flex --nowrap --justify-content-flex-start">
							<input formControlName="garageVelo" type="checkbox" id="garageVelo" name="garageVelo"
								[ngClass]="{ 'error': submitted && form.controls.garageVelo.invalid }" />
							<label for="garageVelo">Garage à vélo</label>
						</div>
					</div>

					<div class="field-group">
						<div class="my-10 mr-10 --flex --nowrap --justify-content-flex-start">
							<input formControlName="espacesVerts" type="checkbox" id="espacesVerts" name="espacesVerts"
								[ngClass]="{ 'error': submitted && form.controls.espacesVerts.invalid }" />
							<label for="espacesVerts">Espaces verts</label>
						</div>
					</div>

					<div class="field-group">
						<div class="my-10 mr-10 --flex --nowrap --justify-content-flex-start">
							<input formControlName="localPoubelles" type="checkbox" id="localPoubelles"
								name="localPoubelles"
								[ngClass]="{ 'error': submitted && form.controls.localPoubelles.invalid }" />
							<label for="localPoubelles">Local poubelles</label>
						</div>
					</div>

					<div class="field-group">
						<div class="my-10 mr-10 --flex --nowrap --justify-content-flex-start">
							<input formControlName="ascenseur" type="checkbox" id="ascenseur" name="ascenseur"
								[ngClass]="{ 'error': submitted && form.controls.ascenseur.invalid }" />
							<label for="ascenseur">Ascenseur</label>
						</div>
					</div>

					<div class="field-group">
						<div class="my-10 mr-10 --flex --nowrap --justify-content-flex-start">
							<input formControlName="jeux" type="checkbox" id="jeux" name="jeux"
								[ngClass]="{ 'error': submitted && form.controls.jeux.invalid }" />
							<label for="jeux">Aire et équipements de jeux</label>
						</div>
					</div>

					<div class="field-group">
						<div class="my-10 mr-10 --flex --nowrap --justify-content-flex-start">
							<input formControlName="gardiennage" type="checkbox" id="gardiennage" name="gardiennage"
								[ngClass]="{ 'error': submitted && form.controls.gardiennage.invalid }" />
							<label for="gardiennage">Gardiennage</label>
						</div>
					</div>

					<div class="field-group">
						<div class="my-10 mr-10 --flex --nowrap --justify-content-flex-start">
							<input formControlName="laverie" type="checkbox" id="laverie" name="laverie"
								[ngClass]="{ 'error': submitted && form.controls.laverie.invalid }" />
							<label for="laverie">Laverie</label>
						</div>
					</div>
				</form>
				<div class="--center-txt my-50">
					<button type="button" class="--secondary-btn-outlined"
						routerLink="/admin/creation-bail/designation-parties">Précédent</button>
					<button type="button" class="--secondary-btn" (click)="onSubmit()">Suivant</button>
				</div>
			</div>
		</div>
	</div>
</div>
