<div class="_container py-100 --bg-light-grey">
  <div class="_row">
    <div class="_col --z-index-4">
      <div class="details-bien-description mx-auto --bg-white --border-radius-10  py-40 px-20 --center-txt">
        <div class="--md-square-img mx-auto ">
          <img src="{{constants.IMAGE_URL}}logo.png" />
        </div>
        <div class="--md-txt mb-30  --bold-txt --purple">Connexion</div>

        <form [formGroup]="loginForm" class="mt-4 mx-auto">
          <div class="field-group">
            <div class="my-10 mx-auto">
              <label for="mail">Identifiant</label>
              <input formControlName="mail" type="text" id="mail" name="mail" class="form-field"
                autocomplete="username" [ngClass]="{ 'error': submitted && loginForm.controls.mail.invalid }" />
              <span class="--sm-txt --red --block mt-5" *ngIf="submitted && loginForm.controls.mail.invalid">Le
                champ est invalide</span>
            </div>
          </div>
          <div class="field-group">
            <div class="my-10  mx-auto">
              <label for="mdp">Mot de passe</label>
              <input formControlName="mdp" type="password" id="mdp" name="mdp" class="form-field"
                autocomplete="current-password"
                [ngClass]="{ 'error': submitted && loginForm.controls.mdp.invalid }" />
              <span class="--sm-txt --red --block mt-5" *ngIf="submitted && loginForm.controls.mdp.invalid">Le
                champ est invalide</span>
            </div>
          </div>
          <button type="button" class="--primary-btn mt-15" (click)="onSubmit()">Connexion</button>
        </form>
      </div>
    </div>
  </div>
</div>