<div class="_container --bg-light-grey pb-100">
  <div class="_row --absolute">
    <div class="_col --z-index-4">
      <div class="--bg-white --border-radius-5 p-40 mt-60">
        <span class="--purple --lg-txt">Rechercher votre bien</span>
        <form *ngIf="formFilterBien" [formGroup]="formFilterBien">
          <div class="mt-20 --flex --flex-wrap --justify-content-space-between --align-content-space-between">
            <div class="my-10">
              <label for="filtreContrat">Type de contrat</label>
              <select formControlName="filtreContrat" id="filtreContrat" name="filtreContrat" class="form-field"
                (change)="filterChange()">
                <option value="">Sélectionnez</option>
                <option *ngFor="let typeContrat of listTypeContrat" [ngValue]="typeContrat.id">
                  {{ typeContrat.label }}
                </option>
              </select>
            </div>
            <div class="my-10">
              <label for="filtreBien">Type de bien</label>
              <select formControlName="filtreBien" id="filtreBien" name="filtreBien" class="form-field"
                (change)="filterChange()">
                <option value="">Sélectionnez</option>
                <option *ngFor="let typeBien of listTypeBien" [ngValue]="typeBien.id">{{ typeBien.label }} </option>
              </select>
            </div>
            <div class="my-10">
              <label for="filtreLocalisation">Localisation</label>
              <select formControlName="filtreLocalisation" id="filtreLocalisation" name="filtreLocalisation"
                class="form-field" (change)="filterChange()">
                <option value="">Sélectionnez</option>
                <option *ngFor="let localisation of listLocalisation" [ngValue]="localisation.ville">
                  {{ localisation.ville }}
                </option>
              </select>
            </div>
            <div class="mt-10">
              <label for="filtrePrice">Prix</label>
              <input formControlName="filtrePrice" type="range" min="0" max="1000000" step="50000" id="filtrePrice"
                name="filtrePrice" (change)="filterChange()" /><br />
              <span *ngIf="formFilterBien.controls.filtrePrice.value; else noValuePrice"
                class="outputRange --line-height-30 --sm--txt --purple">
                Avec {{ formFilterBien.controls.filtrePrice.value }}€ ou plus
              </span>
              <ng-template #noValuePrice>
                <span class="outputRange --line-height-30 --sm--txt --purple">
                  A partir de 1€
                </span>
              </ng-template>
            </div>
            <div class="mt-10">
              <label for="filtreArea">Surface</label>
              <input formControlName="filtreArea" type="range" min="0" max="500" step="50" id="filtreArea"
                name="filtreArea" (change)="filterChange()" /><br />
              <span *ngIf="formFilterBien.controls.filtreArea.value; else noValueArea"
                class="outputRange --line-height-30 --sm--txt --purple">
                Avec {{ formFilterBien.controls.filtreArea.value }}m² ou plus
              </span>
              <ng-template #noValueArea>
                <span class="outputRange --line-height-30 --sm--txt --purple">
                  A partir d'1 m²
                </span>
              </ng-template>
            </div>
            <div class="mt-10">
              <label for="filtreRoom">Pièces</label>
              <input formControlName="filtreRoom" type="range" id="filtreRoom" name="filtreRoom" min="1" max="10"
                step="1" (change)="filterChange()" /><br />
              <span *ngIf="formFilterBien.controls.filtreRoom.value; else noValueRoom"
                class="outputRange --line-height-30 --sm--txt --purple">
                Avec {{ formFilterBien.controls.filtreRoom.value }} pièces ou plus
              </span>
              <ng-template #noValueRoom>
                <span class="outputRange --line-height-30 --sm--txt --purple">
                  A partir d'une pièce
                </span>
              </ng-template>
            </div>

            <div class="my-10">
              <label for="filtreProprietaire">Nom de propriétaire</label>
              <select formControlName="filtreProprietaire" id="filtreProprietaire" name="filtreProprietaire"
                class="form-field" (change)="filterChange()">
                <option value="">Sélectionnez</option>
                <option *ngFor="let proprietaire of listProprietaire" [ngValue]="proprietaire.nom">
                  {{ proprietaire.nom }}
                </option>
              </select>
            </div>
            <div class="my-10">
              <label for="filtreLocation">En cours de location</label>
              <select formControlName="filtreLocation" id="filtreLocation" name="filtreLocation" class="form-field"
                (change)="filterChange()">
                <option value="">Sélectionnez</option>
                <option value="oui">Oui</option>
                <option value="non">Non</option>
              </select>
            </div>
            <div [ngClass]="formFilterBien.controls.filtreLocation.value === 'oui' ? '' : '--grey --inactive' "
              class="my-10">
              <label for="filtreNumBail">Numéro de bail</label>
              <select [ngClass]="formFilterBien.controls.filtreLocation.value === 'oui' ? '' : '--grey --inactive' "
                formControlName="filtreNumBail" [disabled]="formFilterBien.controls.filtreLocation.value !== 'oui'"
                id="filtreNumBail" name="filtreNumBail" class="form-field" (change)="filterChange()">
                <option value="">Sélectionnez</option>
                <option *ngFor="let bail of listNumBail" [ngValue]="bail">{{ bail }} </option>
              </select>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
  <img class="bg-list-bien --relative --height-500" src="{{ constants.IMAGE_URL }}banner-search.jpg" />
  <div *ngIf="listeBiensLoaded" class="_row">
    <div class="_col">
      <p class="my-50 --xxl-txt --purple">{{ nbBiens }} résultat(s)</p>

      <div
        class="list-bien-all --flex --flex-wrap --justify-content-space-between --align-items-center --align-content-space-between"
        infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollUpDistance]="2" [infiniteScrollThrottle]="300">
        <!-- dépend du nombre de biens -->
        <div *ngFor="let element of displayedBiens.infiniteScroll.scrollBien"
          class="list-bien-item --flex --flex-wrap --bg-white --border-radius-5 --relative --width-300 mb-30">
          <a routerLink="/admin/details-bien/{{ element.id }}">
            <div class="--height-300 --relative">
              <img *ngIf="premiereImage(element)" src="{{ element.image[0] }}" />
              <img *ngIf="!premiereImage(element)" src="{{ constants.IMAGE_URL }}erreur_image.PNG" />
              <div class="--absolute --bottom z-index-5">
                <i class="--purple py-10 px-10 fas fa-map-marker-alt fa-2x"></i>
                <span class="--white --bold-txt">{{
                  element.adresse.ville
                  }}</span>
              </div>
              <div
                class="--absolute --width-auto --top --right z-index-5 m-10 --bg-purple --border-radius-10 py-10 px-20 --white mr-10">
                {{ element.typeContrat.label }}
              </div>
            </div>
            <div class="--height-200 p-20 --flex --flex-wrap --align-content-space-between">
              <div class="--width-full --semibold-txt mb-10">
                {{ element.typeBien.label }} -
                {{ element.surfaceHabitable }} m²
              </div>
              <p class="--width-full">
                {{ element.description }}
              </p>
            </div>
            <div class="--width-full px-20 py-15 --bg-purple --semibold-txt --right-txt --white">
              {{ element.prix | number: '3.0-5':'fr-FR' }} €
            </div>
          </a>
        </div>
      </div>
      <div class="--block --center-txt">
        <a class="link my-6 mx-auto" *ngIf="!displayedBiens.infiniteScroll.isFull" (click)="onScrollDown()">Voir
          plus</a>
      </div>
    </div>
  </div>
</div>