<div class="--bg-white p-40 pt-40 --border-radius-5" [class]="'cuisine'.concat(formLabel)">
	<input type="checkbox" class="dropdown" [id]="'cuisine'.concat(formLabel)" />
	<div class="--width-full">
		<label [for]="'cuisine'.concat(formLabel)" class="dropdown-label --flex --justify-content-space-between">
			<h2 [style]="(!submitted || !form.valid) ? 'cursor: pointer;' : 'cursor: not-allowed'">{{ formLabel }} - Cuisine</h2>
			<i *ngIf="submitted && form.valid" (click)="editForm()" class="fas fa-edit" style="cursor: pointer;"> </i>
		</label>
	</div>
	<form *ngIf="form" [formGroup]="form" class="dropdown-item" [class]="'cuisineItem'.concat(formLabel)">
		<div class="--bold-txt mt-20">
			Plafond
		</div>
		<div formGroupName="plafond" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.plafond.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.plafond.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.plafond.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.plafond.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Plinthes
		</div>
		<div formGroupName="plinthes" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.plinthes.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.plinthes.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.plinthes.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.plinthes.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Sol
		</div>
		<div formGroupName="sol" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.sol.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.sol.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.sol.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.sol.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Murs
		</div>
		<div formGroupName="murs" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.murs.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.murs.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.murs.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.murs.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Portes et menuiseries
		</div>
		<div formGroupName="portesMenuiseries" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.portesMenuiseries.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.portesMenuiseries.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.portesMenuiseries.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.portesMenuiseries.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Fenêtres et volets
		</div>
		<div formGroupName="fenetresVolets" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.fenetresVolets.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.fenetresVolets.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.fenetresVolets.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.fenetresVolets.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Rangements et placards
		</div>
		<div formGroupName="rangementsPlacards" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.rangementsPlacards.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.rangementsPlacards.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.rangementsPlacards.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.rangementsPlacards.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Prises et interrupteurs
		</div>
		<div formGroupName="prisesInterrupteurs" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.prisesInterrupteurs.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.prisesInterrupteurs.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.prisesInterrupteurs.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.prisesInterrupteurs.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Evacuation des eaux
		</div>
		<div formGroupName="evacuationEau" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.evacuationEau.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.evacuationEau.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.evacuationEau.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.evacuationEau.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Radiateurs
		</div>
		<div formGroupName="radiateurs" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.radiateurs.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.radiateurs.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.radiateurs.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.radiateurs.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Eclairage
		</div>
		<div formGroupName="eclairage" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.eclairage.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.eclairage.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.eclairage.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.eclairage.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Ventilation
		</div>
		<div formGroupName="ventilation" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.ventilation.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.ventilation.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.ventilation.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.ventilation.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Eviers
		</div>
		<div formGroupName="eviers" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.eviers.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.eviers.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.eviers.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.eviers.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Meubles éviers
		</div>
		<div formGroupName="meublesEviers" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.meublesEviers.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.meublesEviers.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.meublesEviers.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.meublesEviers.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Hotte
		</div>
		<div formGroupName="hotte" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.hotte.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.hotte.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.hotte.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.hotte.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Plan de travail
		</div>
		<div formGroupName="planTravail" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.planTravail.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.planTravail.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.planTravail.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.planTravail.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Placards
		</div>
		<div formGroupName="placards" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.placards.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.placards.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.placards.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.placards.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Tiroirs
		</div>
		<div formGroupName="tiroirs" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.tiroirs.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.tiroirs.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.tiroirs.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.tiroirs.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>

		<div class="--bold-txt mt-20">
			Autres
		</div>
		<div formGroupName="autres" class="field-group">
			<div class="my-10 mr-10">
				<select formControlName="etat" class="form-field"
					[ngClass]="{ 'error': submitted && form.controls.autres.get('etat')?.invalid }">
					<option value="" disabled selected>État</option>
					<option *ngFor="let etat of etats | enumToObject | keyvalue" [ngValue]="etat.key">{{ etat.value }}
					</option>
				</select>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.autres.get('etat')?.invalid">Le champ est
					invalide</span>
			</div>
			<div class="my-10">
				
				<input formControlName="observations" type="text"  
					class="form-field" [ngClass]="{ 'error': submitted && form.controls.autres.get('observations')?.invalid }" placeholder="Observations"/>
				<span class="--sm-txt --red --block mt-5" *ngIf="submitted && form.controls.autres.get('observations')?.invalid">Le
					champ est invalide</span>
			</div>
		</div>
		<button type="button" class="--primary-btn" (click)="onSubmit()">Valider la cuisine</button>
	</form>
</div>